<section class="ct-s-section ct-s-new-detail">
    <div class="ct-b-container">
        <div class="row-fluid">
            <div class="span-8 ct-col">
                <div class="ct-b-head">
                    <img src="{{postDetail.thumbnail.path}}" alt="{{postDetail.title}}">
                    <h2>{{postDetail.title}}</h2>
                </div>
                <div class="ct-b-body editor">
                    {{postDetail.description | raw}}
                </div>
            </div>
            <div class="span-4 ct-col">
                {% for item in relatePosts %}
                <div class="ct-relate-news">
                    <a href="{{ 'news-detail' | page ({ slug: item.slug })}}">
                        <img src="{{item.thumbnail.path}}" alt="{{item.title}}">
                        <h5>{{item.title}}</h5>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>