<div class="ct-b-slider-subpage">
    <div class="ct-slider ct-chudautu">
        {% for item in chudautu.banner %}
        <div class="item">
            <img src="{{item.path}}" />
        </div>
        {% endfor %}
    </div>
    <figure>
        <img class="logo-subpage" src="{{'assets/images/logo-color.png'| theme}}" alt="">
    </figure>
</div>

<section class="ct-s-section ct-s-introdutcion-page">
    {% for item in chudautu.description %}
    <article>
        <div class="ct-content">
            <h4>{{item.description_title}}</h4>
            {{ item.description_des | raw}}
        </div>
        <figure>
            <img src="{{item.description_image | media}}" alt="stella megacity">
        </figure>
    </article>

    {% endfor %}
</section>