<div class="ct-facilities-wrapper">
    <div class="facilities-header-slider">
        {% for facility in facilityList %}
        <div class="item">
            <a class="show" data-title="{{facility.slug}}" href="#{{facility.slug}}">{{facility.title}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="facilities-content">
        {% for facility in facilityList %}
        <div class="block des targetDiv hide" id="f-header-{{facility.slug}}">
            <div class="item facilities-content-slider">
                {% for item in facility.images %}
                <img src="{{item.path}}" alt="facilities">
                {% endfor %}
            </div>
            {{facility.description | raw}}
        </div>
        {% endfor %}
    </div>
</div>