{% for item in projectList %}
<div class="item">
    <div class="row-fluid">
        <div class="span-3 info">
            <h3>
                <a href="{{ 'types-houses-detail'| page ({ slug: item.slug }) }}">{{item.title}}</a>
            </h3>
            <ul class="info-detail">
                <li>
                    <img src="{{'/assets/images/house-types/house-icon.svg'| theme }}" />
                    <span>
                        <strong>{{'Kiến trúc' |_}}:</strong>
                        {{item.architecture}}
                    </span>
                </li>
                <li>
                    <img src="{{'/assets/images/house-types/house-floor-icon.svg'| theme}}" />
                    <span>
                        <strong>{{'Số tầng' |_}}:</strong>
                        {{item.num_floor}}
                    </span>
                </li>
                <li>
                    <img src="{{'/assets/images/house-types/size-icon.svg'| theme}}" />
                    <span>
                        <strong>{{'Diện tích' |_}}:</strong>
                        {{item.area}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="span-3 show-content">
            <img src="{{item.picture.path}}" />
            <div class="des">
                <a href="{{ 'types-houses-detail'| page ({ slug: item.slug }) }}">
                    {{'Hình phối cảnh' |_}}
                </a>
            </div>
        </div>
        <div class="span-3 show-content">
            <img src="{{item.layout.path}}" />
            <div class="des">
                <a href="{{ 'types-houses-detail'| page ({ slug: item.slug }) }}">
                    {{'Mặt bằng'|_}}
                </a>
            </div>
        </div>
        <div class="span-3 show-content">
            <img src="{{item.spherical_Face.path}}" />
            <div class="des">
                <a href="{{ 'types-houses-detail'| page ({ slug: item.slug }) }}">
                    {{'Hình cắt đứng'|_}}
                </a>
            </div>
        </div>
    </div>
    <div class="readmore main-color-btn">
        <a href="{{ 'types-houses-detail'| page ({ slug: item.slug }) }}" class="btn readmore-btn">{{'Xem thêm'|_}}</a>
    </div>
</div>

{% endfor %}