<div class="ct-b-slider-subpage">
    <div class="ct-slider">
        {% for item in contact.banner %}
        <div class="item">
            <img src="{{item.path}}" />
        </div>
        {% endfor %}
    </div>
    <figure>
        <img class="logo-subpage" src="{{'assets/images/logo-subpage.png'| theme}}" alt="">
    </figure>
</div>
<section class="ct-s-section ct-contact-page ct-thamquan">
    <div class="ct-b-container">
        <div class="ct-contact-form">
            <div class="ct-title">
                <h2>{{'Đăng ký nhận thông tin' |_}}</h2>
                <img src="{{'assets/images/title-icon.png' | theme}}" alt="stella">
            </div>
            {{ contact.description | raw }}
            {% partial "form-contactpage" %}
        </div>

        <div class="ct-right">
            <h4>{{'Liên hệ đại lý phân phối'|_}}</h5>
            <div class="ct-b-dvpp">
                {% for item in contact.dvpp %}
                <div class="ct-dvpp">
                    <img src="{{item.logo | media}}" alt="logo">
                    <h5>{{'Hotline' |_}}</h5>
                    <p><a href="tel:+84{{item.hotline}}">{{item.hotline}}</a></p>

                </div>
                {% endfor %}
            </div>
            <div class="ct-map desktop-hide">
                    <div id="map" class="ct-map-style "></div>
            </div>
        </div>
    </div>
</section>

<script>
    var map;
    var urlTheme = `{{''|theme}}`;
    function initMap() {
        var myLatLng = { lat: 10.080257, lng: 105.740613 };
        // 10.080257,105.740613
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng,
            // styles: mapStyle
        });

        var infowindow = new google.maps.InfoWindow({
            content: '<span class="ct-mapmarker-title">Stella Mega City</span>'
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            // label: { color: '#05203d', fontWeight: 'bold', fontSize: '14px', text: 'Stella Megacity', marginBottom:  '30px'},
            icon: urlTheme + '/assets/images/icon-star-yellow.png',
        });
        infowindow.open(map, marker);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhSw1_Sz1k9-qBri9ALfR65RvsQeUhcw&callback=initMap" async
    defer></script>