{% if homepage %}

    <section class="section ct-s-section ct-s-home-slider">
        <div class="ct-home-slider mobile-hide tablet-hide">
            {% if homepage.background =='image' %}
            {% for item in homepage.banner %}
            <figure>
                <img src="{{item.path}}" />
            </figure>
            {% endfor %}
            {% else %}
            <video autoplay muted loop id="myVideo">
                <source src="{{homepage.video.path}}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            {% endif %}
        </div>
        <div class="ct-home-slider desktop-hide">
            {% if homepage.background =='image' %}
            {% for item in homepage.banner_mobile %}
            <figure>
                <img src="{{item.path}}" />
            </figure>
            {% endfor %}
            {% endif %}
        </div>
    </section>
    {% partial "home-introdution" %}
    {% partial "home-location" %}
    {% partial "home-facilities" %}
    {% partial "home-type-house" %}
    {% partial "home-process" %}
    {% partial "home-news" %}
    {% partial "home-gallery" %}
    {% partial "home-contact" %}

{% endif %}