
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese');
html{
  overflow-x: hidden !important;
}
body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $textgrey;     
  font-weight: 400;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:last-child {
  margin-bottom: 0;
}

input, textarea {
  outline: none; 

}

button {
  outline: none; 
}

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
  @include transition(0.3s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include rounded(0);
  border: none;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: inherit;
    transition-property: all;
    transition-delay: 99999s;
    -webkit-transition-delay: 99999s;
  }
}
textarea {
  height: 72px;
  padding-top: 8px;
}

input[type='submit'] {
  @include transition(0.3s);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font-size: 13px;
  @include mq('desktop'){
    font-size: 14px;
  }
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4em;
  &.is-small {
    font-size: 13px;
    line-height: 14px;
  }
  &.is-medium {
    font-size: 14px;
    line-height: 18px;
  }
  &.is-large {
    font-size: 20px;
    line-height: 26px;
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both; 
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;  
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right{
    float: right;
  }
  @for $i from 1 through 12 {
      .span-#{$i} { 
        width: 100%; 
      }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        [class*="span-"].offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 30;
    $default-screen-px: 1170;
    $default-column-px: 70;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        .offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}
@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: inherit !important;
  }
  .desktop-hide {
    display: none !important;
  }
}

.ct-s-section{
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  @include mq('desktop') {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ct-b-container {
    width: 100%;
    position: relative;
    @extend %clearfix;
    padding-left: 28px;
    padding-right: 28px;
    max-width: 1230px;
    @include mq('desktop') {
      margin: 0 auto;
    }
  }
}
.ct-b-container {
  position: relative;
  width: 100%;
  @extend %clearfix;
  padding-left: 28px;
  padding-right: 28px;
  max-width: 1230px;
  @include mq('desktop') {
    margin: 0 auto;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  line-height: 56px;
}
h2 {
  font-size: 40px;
  line-height: 46px;
}
h3 {
  font-size: 28px;
  line-height: 32px;
}
h4, h5, h6 {
  font-size: 20px;
  line-height: 24px;
}

blockquote {
  font-size: 20px;
  line-height: 24px;
}

@include mq('tablet') {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  button {
    width: auto;
  }
}

@include mq('desktop') {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  blockquote {
    font-size: 24px;
    line-height: 28px;
  }
}
.gmnoprint{
  display: none;
}
button[type = submit]{
  cursor: pointer;
}

main{
  position: relative;
  z-index: 2;
}

.slick-slider {
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;

}

.readmore-btn {
  display: inline-block;
  padding: 8px 35px;
  border: 1px solid #fab532;
  background: #ffffff;
  color: #383838;
  border-radius: 25px;
  font-weight: 700;
  font-size: 12px;
  &:hover{
    color: $white;
    background-color: $mainColor;
    box-shadow: 1px 1px 9px 3px rgba(17, 17, 17, 0.15);
  }
}

.title-section {
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: $black;
}

p {
  a {
    font-size: 16px;
    color: $textgrey;
  }
}

.title-icon {
   position: relative;
   text-align: center;
   font-size: 38px;
   margin-bottom: 80px;
   &:before {
    @include pseudo();
    background-image: url(../images/title-icon.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 35px;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 420px;
    max-width: 100%;
   }
   &.while-icon{
    &:before {
      background-image: url(../images/title-icon-white.png);
     }
   }

}



// ct-container-page
.ct-container-page {
  .main {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    @include mq('desktop') {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

.des {
  margin: 30px 0px;
  p {
    font-size: 15px;
    color: $black;
    line-height: 25px;
  }
}

.hide {
  visibility: hidden;
  position: absolute;
}

.slick-slide {
    img {
      height: 100%;
      width: 100%;
    }
}

.wrapper-menu {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  .line-menu {
    background-color: #fab532;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    &.half{
      width: 50%;
    }
    &.end{
      align-self: flex-end;
      @include transition(transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57));
      transform-origin: left;    
    }
    &.start{
      @include transition(transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57));
      transform-origin: right;
    }
  }
  .open &{
    transform: rotate(-45deg); 
    .line-menu{
        background-color: white;
        &.start{
          transform: rotate(-90deg) translateX(3px);
        }
        &.end{
          transform: rotate(-90deg) translateX(-3px);
        }
    }
  }
}



.menu-background {
  visibility: hidden;
  width: 300%;
  height: 400px;
  position: absolute;
  left: -130%;
  background-color: white;
  transition: background-position 0.5s, transform 0.5s 0.5s, visibility 0.5s 1s;
  .open & {
    visibility: visible;
    transition: background-position 0.5s, transform 0.5s 0.5s;
  }
  &.top {
    transform: rotate(-45deg) translateY(-150%);
    background: linear-gradient(to top, #fab532 50%, #fab532 50%);
    background-size: 100% 200%;
    background-position: -100% 100%;
    .open & {
      transform: rotate(-45deg) translateY(-49%);
      background-position: 0 0;
    }
  }
  &.middle {
    transform: rotate(-45deg) translateY(50%) scaleY(0);
    background: #fab532;
    .open & {
      transform: rotate(-45deg) translateY(50%) scaleY(1);
    }
  }
  &.bottom {
    transform: rotate(-45deg) translateY(250%);
    background: linear-gradient(to bottom, #fab532 50%, #fab532 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    .open & {
      transform: rotate(-45deg) translateY(149%);
      background-position: 0 0;
    }
  }
}

.ct-box-item{
  .top-content {
    position: relative;
    .show-img {
      position: relative;
      width: 100%;
      height: 180px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      transition: all 0.3s ease-in;
      @include mq('desktop-1600'){
        height: 200px;
      }
      a {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 10;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .title-img {
      padding: 12px;
      position: absolute;
      z-index: 11;
      bottom: 0;
      color: $white;
      width: 100%;

      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 50%;
        margin-top: 10px;
        background: $mainColor;
        transition: all 0.3s ease-in;
      }

      a {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
      }
    }

    &:hover,
    &:active {
      .show-img {
        a {
          -webkit-box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51);
          -moz-box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51);
          box-shadow: 5px -7px 9px -3px rgba(0, 0, 0, 0.51);
        }
      }

      a::after {
        opacity: 0;
      }

      .title-img {
        background-color: $mainColor;
        width: 100%;

        &::after {
          width: 100%;
          background-color: $white;
        }
      }
    }
  }

  .bottom-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 100px;

    p {
      text-align: justify;
      line-height: 25px;
      font-size: 15px;
    }
  }
}
.ct-btn{
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  font-size: 11px;
  background-color: $mainColor;
  border-radius: 25px;
  @include transition(300ms, ease-in-out);
  border: 0;
  &:hover{
    background-color: white;
    color: $mainColor;
  } 
  @include mq('desktop'){
    font-size: 16px;
    height: 50px;
    line-height: 46px;
    padding: 0 50px;
    border: 2px solid #fab532;
    background-color: transparent;
    color: #fab532;
    &:hover{
      background-color: #fab532;
      color: white;
    }
  }
  &.orange{
    color: white;
    background-color: #fab532;
    &:hover{
      background-color: white;
      color: #fab532;
      // border: 2px solid white;
    }
  }
  &:disabled{
    opacity: 0.4;
    &:hover{
      opacity: 0.4;  
      background-color: #fab532;
      cursor: inherit;
      color: white;
    }
  }
}
.ct-title {
  text-align: center;
  color: #fab532;
  h2{
    font-size: 22px;
    margin-bottom: 8px;
    line-height: 1;
    text-transform: uppercase;
    @include mq('desktop'){
      font-size: 42px;
      margin-bottom: 20px;
    } 
  }
  h3 {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 1;
    @include mq('desktop'){
      font-size: 32px;
    } 
  }
  img{
    margin: 0 auto;
    max-width: 250px;
    @include mq('desktop'){
      max-width: auto;
    } 
  }
  &.ct-white{
    color: white;
    img{
     filter: brightness(0) invert(1);
    }
  }
}

.ct-start{
  color: #fab532;
  font-size: 24px;
  line-height: 20px;
  @include mq('desktop'){
    font-size: 45px;
    line-height: 40px;
    } 
}

.slick-slide{
  &:focus{
    outline: none;
  }
  div, a, p{
    &:focus{
      outline: none;
    }
  }
}

#fp-nav ul li a span{
  background: white !important;
}
@include keyframes(waveAnimation){
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: scale(1.8);
      opacity: 0;
  }
}

@include keyframes(loading){
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@include mq('desktop') {
  body{
    font-size: 16px;
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}


.mfp-zoom-out-cur{
  .mfp-image-holder{
    .mfp-content{
      .mfp-figure{
        button{
          font-weight: 100;
          font-size: 16px;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}

.mfp-iframe-scaler{
  button{
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
}

.ct-b-loading-wrapper{
  z-index: 100000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #04203e;
  background-image: url(../images/bg-loading.jpg);
  background-size: cover;
  background-position: center center;
  .ct-img{
   width: 100%;
   height: 100%;
   position: relative;
   animation: loading 3s linear infinite;
    img{
      margin: 0 auto;
      width: 20%;
      margin: 0 auto;
      max-width: 120px;
      @include center-absolute('both');
    }
  }

}

.ct-nav-icon {
  width: 30px;
  height: 20px;
  @include transform(rotate(0deg));
  @include transition(.5s,ease-in-out);
  cursor: pointer;
  z-index: 1;
  span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #c6c6c6;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition( .25s,ease-in-out);
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 9px;
      background-color: #c6c6c6;
    }
    &:nth-child(3){
      top: 18px;
    }
  }
  .show-menu &{
    span{
      &:nth-child(1){
        top: 9px;
        @include transform(rotate(135deg));
      }
      &:nth-child(2){
        opacity: 0;
        left: -20px;
      }
      &:nth-child(3){
        top: 9px;
        @include transform(rotate(-135deg));
      }
    }
  }
}

.slick-dots{
  left: 0;
  li{
      margin: 0 2px;
      button {
          &::before{
              font-size: 40px;
              opacity: 1;
              content: "";
              width: 10px;
              height: 10px;
              @include rounded(50%);
              border: 1px solid $mainColor;
              top: 5px;
              left: 5px;
          }
      }
      &.slick-active{
        button {
          &::before{
              opacity: 1;
              background-color: #fab532;
          }
      }
      }
  }
}