@import "./variables";
@import "./_mixinscustom";
@import "./common";

.ct-b-popup-wraper{
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  .js-close-popup{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    z-index: 2;
  }
  .ct-img{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 1;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.homepage{
  footer{
    display: none;
  }
}
.ct-home-slider{
  figure{
    width: 100%;
    height: 100vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  video{
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }
}

.ct-b-slider-subpage{
  position: relative;
  figure{
    @include center-absolute('both');
    margin: 0;
    z-index: 2;
    top: 58%;
    img{
      width: 64%;
      margin: 0 auto;
    }
    @include mq('desktop') {
      img{
        width: 50%;
      }
    }
    @include mq('desktop-1800') {
      img{
        width: 64%;
      }
    }
  }
}
.chudautupage{
  .ct-b-slider-subpage{
    figure{
      top: 58%;
    }
  }
}
.ct-slider {
  position: relative;
  &::before{
    @include pseudo();
    z-index: 2;
    background-color: rgba(5, 32, 61, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &.ct-chudautu{
    &::before{
      background-color: #151515cc;
    }
  }
  .item {
    width: 100%;
    height: calc(100vh/3);
    z-index: 2;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include mq('desktop') {
    .item {
      height: calc(100vh/2);
    }
  }
  @include mq('desktop-1800') {
    .item {
      height: 430px;
    }
  }
}

.ct-s-new-detail {
  .ct-b-container {
    .row-fluid {
      .ct-col {
        margin-bottom: 20px;

        .ct-b-head {
          margin-bottom: 20px;
          h2{
            font-size: 22px;
            line-height: 1.2;
            @include mq('desktop') {
              font-size: 40px;

            }
          }
          img {
            width: 100%;
            margin-bottom: 20px;  
          }
        }

        .ct-b-body {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(0,0,0,.1);
          @include mq('desktop') {
            border-bottom: none;
          }
        }

        .ct-relate-news {
          margin-bottom: 20px;

          a {
            color: #6D6E70;
            display: block;
            @include transition(0.3s, ease-in-out);

            &:hover {
              opacity: 0.8;
              @include transition(0.3s, ease-in-out);
            }

            img {
              margin-bottom: 10px;
              height: 220px;
              object-fit: cover;
              width: 100%;
            }

            h5 {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              font-size: 12px;
              line-height: 1.2;
              height: 30px;
              @include mq('desktop') {
                font-size: 22px;
                height: 55px;
              }
            }
          }

        }
      }

    }

  }
}


.ct-s-types-houses-detail {
  .ct-b-container {
    .row-fluid {
      .ct-col {
        margin-bottom: 20px;

        .ct-b-head {
          margin-bottom: 40px;

          img {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .ct-b-body {
          margin-bottom: 30px;
        }

        .ct-b-foot {
          ul {
            box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
            border: 1px solid #fab532;
            border-radius: 10px;
            font-size: 0;
            overflow: hidden;
            max-width: 650px;
            margin: 0 auto 40px;

            li {
              display: inline-block;
              vertical-align: middle;
              width: 33.33%;

              a {
                color: #fab532;

                padding: 10px 2px;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 12px;
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                  background-color: #fab532;
                  color: white;
                  @include transition(0.3s, ease-in-out);
                }

                @include mq('desktop') {
                  padding: 15px 10px;
                  font-size: 16px;

                }
              }
            }
          }

          .ct-img {
            img {
              width: 100%;
              display: none;

              &.active {
                display: block;
              }
            }
          }
        }

      }

      .ct-side-bar {
        h4 {
          color: white;
          margin: 0;
          text-align: center;
          background: #fab532;
          padding: 20px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
        }

        ul {
          padding: 15px;
          border: 1px solid #fab532;

          li {
            margin-bottom: 15px;

            a {
              color: #fab532;
            }

            &::last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }
}


// ------------


header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white;
  opacity: 0;
  @include transform(translateY(-100%));
  @include transition(700ms, ease-in-out);
  .add-header & {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(700ms, ease-in-out);
  }
  .ct-b-header-mobile, 
  .ct-b-menu-mobile{
    display: none;
  }
  .ct-b-container{
    @include mq('desktop-1800'){
      width: 100%;  
      max-width: 1300px;
    }
    .ct-b-menu{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
      width: 930px;
      margin: 0 auto;
      @include mq('desktop-1800'){
          width: 100%;  
      }
      ul {
        margin-top: 25px;
        li {
          list-style: none;
          display: inline-block;
          margin-right: 15px;
          a{
            color: #383838;
            padding: 5px;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            @include mq('desktop-1800'){
              font-size: 16px;
            }
            position: relative;
            &::before{
              @include pseudo();
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: #fab532;
              @include transform(translateX(-50%));
              @include transition(0.3s,ease-in-out);
            }
            &:hover{
              &::before{
                width: 100%;
                @include transition(0.3s,ease-in-out);
              }
            }
          }
          &:last-child{
            margin-right: 0;
          }
          &.active{
            a{
              &::before{
                width: 100%;
              }
            }
          }
        }
      }

      a.logo-menu{
        img {
          height: 55px;
          @include mq('desktop-1800'){
              height: 80px;
          }
        }
      }
    }
  }

  .ct-nav-right{
      position: absolute;
      right: 20px;
      top: 50%;
      @include transform(translateY(-50%));
      display: flex;
      width: 140px;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
      @include mq('desktop-1800'){
          right: 40px;
          width: 175px;
      }
      .ct-sns{
          display: flex;
          width: 70px;
          justify-content: space-between;
          align-items: center;  
          @include mq('desktop-1800'){
              width: 90px;
          }  
          li{
              a{
                  width: 30px;
                  height: 30px;
                  background: #999999;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  @include rounded(50%);
                  @include transition(0.3s, ease-in-out);
                  @include mq('desktop-1800'){
                      width: 40px;
                      height: 40px;
                  }  
                  &:hover{
                      background: $mainColor;
                      @include transition(0.3s, ease-in-out);
                  }
                  img{
                      height: 20px;
                  }

              }
          }
      }
      .ct-lang{
          position: relative;
          text-transform: uppercase;
          span{
              color: #999999;
              cursor: pointer;
              font-weight: 600;
          }
          ul{
              position: absolute;
              bottom: 0;
              right: 0;
              box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
              background: white;
              opacity: 0;
              visibility: hidden;
              @include transform(translate(0, 100%) scale(0.96));
              @include transition(0.3s, ease-in-out);
              li{
                  a{
                      display: block;
                      padding: 5px 30px;
                      color: #999999;
                      font-weight: 600;
                      @include transition(0.3s, ease-in-out);
                      &:hover{
                          background-color: #999999;
                          color: white;
                          @include transition(0.3s, ease-in-out);
                      }
                  }
                  &.active{
                    display: none;
                  }
              }
          }
      }
  }
  &.open-lang {
      .ct-nav-right{
          .ct-lang{
              ul{
                  opacity: 1;
                  visibility: initial;
                  @include transform(translate(0, 100%));
                  @include transition(0.3s, ease-in-out);
              }
          }
      }
  }
}



.ct-b-bottom-navi{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #05203d;
  padding: 10px 25px;
  z-index: 3;
  opacity: 0;
  @include transform(translateY(100%));
  @include transition(700ms, ease-in-out);
  @include mq('desktop'){
    display: none;
  }
  .add-bottom-navi & {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(700ms, ease-in-out);
  }
  .ct-btn{
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    line-height: 32px;
    border: 0;
    padding: 0 20px;
    &:hover{
      border: 0;
    }
  }
  .ct-bottom-right{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      align-items: center;
      margin-right: 15px;
      li{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          @include rounded(50%);
          overflow: hidden;
          background-color: $mainColor;
          padding: 5px;
          img{
            max-height: 16px;
          }
        }
      }
    }
    .ct-back-to-top{
      display: block;
      width: 27px;
      height: 27px;
      @include rounded(50%);
      overflow: hidden;
      border: 1px solid $mainColor;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{

      }
    }
  }
}

.ct-contact{
position: fixed;
top: 150px;
right: 0;
z-index: 11;
li {
  margin-bottom: 10px;
  a {
    width: 40px;
    height: 40px;
    background-color: #fab532;
    padding: 10px;
    display: flex;  
    position: relative;  
    img{
      max-width: 100%;
      z-index: 1;
      position: relative;
    }
    span{
      width: 110px;
      position: absolute;
      right: 40px;
      top: 50%;
      height: 100%;
      transform: translate(100%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      font-weight: 700;
      border-right: 1px solid white; 
      color: $mainColor;
      @include transition(300ms, ease-in-out); 
      z-index: 0;     
    }
    &::before{
      @include pseudo();
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      background-color: #fab532;
    }
    &:hover{
      span{
        transform: translate(0, -50%);
        @include transition(300ms, ease-in-out);
      }
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}
}
.ct-s-section{
  z-index: 1;
  position: relative;
  overflow: hidden;
}
#fp-nav{
  z-index: 2;
  left: 1%;
  @include transform(scale(0.5) !important);

  @include mq('desktop'){
    left: 2%;
    @include transform(scale(0.7) !important);
  }  
  @include mq('desktop-1800'){
      @include transform(scale(1) !important);
  }  
  ul{
      position: relative;
      &::before{
          @include pseudo();
          top: 0;
          left: 100%;
          width: 1px;
          height: 60px;
          background-color: $mainColor;
          background-color: #fab532;
          background: linear-gradient(0, #fab532 0%, #fab532 50%, rgba(0, 0, 0, 0) 100%);
          @include transform(translate(0, -52px));


      }
      &::after{
          @include pseudo();
          bottom: 0;
          left: 100%;
          width: 1px;
          height: 60px;
          background-color: $mainColor;
          background-color: #fab532;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #fab532 50%, #fab532 100%);
          @include transform(translate(0, 68px));
      }
      li{
          margin: 0 0 25px !important;
          width: 15px !important;
          height: 15px !important;
          position: relative;
          &::before{
              @include pseudo();
              bottom: 0;
              left: 100%;
              width: 1px;
              height: 26px;
              background-color: $mainColor;
              @include transform(translate(0, 33px));
          }
          &:last-child{
              &::before{
                  display: none;
              } 
          }
          a{
              span{
                  background-color: transparent !important;
                  width: 15px !important;
                  height: 15px !important;
                  border: 1px solid $mainColor !important;
                  margin: 0 !important;
              }
              &.active{
                  span{
                      width: 15px !important;
                      height: 15px !important;
                      margin: 0 !important;
                      background-color: $mainColor !important;
                  }
              }
          }
          &:hover{
              a{
                  span{
                      margin: 0 !important;
                      background-color: $mainColor !important;
                  }
                  &.active{
                      span{
                          margin: 0 !important;
                      }
                  }
              }
          }
      }
  }
}
.fp-nav-white{
.ct-contact li a{
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.2);
}
  #fp-nav{
      ul{
          li{
              a{
                  span{
                      border: 1px solid white !important;
                  }
                  &.active{
                      span{
                          background-color: white !important;
                      }
                  }
              }
              &:hover{
                  a{
                      span{
                          background-color: white !important;
                      }
                  }
              }
              &::before{
                background-color: white;
              }
          }
        &::before{
            background-color: white;
            background: linear-gradient(0, white 0%, white 50%, rgba(0, 0, 0, 0) 100%);
        }
        &::after{
          background-color: white;
          background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, white 50%, white 100%);
      }
      }
  }
}

.ct-s-home-slider{
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  overflow: hidden;
  .ct-home-slider{
    figure{
      margin: 0;
      img{
        background-size: cover;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



.ct-s-introdution{
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  overflow: hidden;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;
  
  } 
  @include mq('desktop-1800'){
    padding-top: 100px;
  } 
  .ct-b-container{
    @include mq('desktop'){
      @include transform(scale(0.7));
    } 
      @include mq('desktop-1600'){
        @include transform(scale(0.9));
      }    
      @include mq('desktop-1800'){
          @include transform(scale(1));
      }    
    .ct-b-head{
      margin-bottom: 10px;
      @include mq('desktop'){
        margin-bottom: 30px;
      } 
    }
    .ct-b-body{
      padding: 0;
      margin-bottom: 20px;
      @include mq('desktop'){
        padding: 0 65px;
        margin-bottom: 60px;
      } 
      p{
        text-align: justify;
        text-align-last: center;
    
      }
    }
    .ct-b-foot{
      .ct-row{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        .ct-column{
          text-align: center;
          p {
            margin-bottom:13px;
            font-size: 12px;
            font-weight: 700;
            color: white;
          }
          img{
            width: 90px;
          }
          &.ct-countup{
            h2{
              color: #fab532;
              margin-bottom: 0;
              font-size: 25px;
              line-height: 1em;  
              display: inline;
            }
            span{
              font-size: 12px;
              position: relative;
              line-height: 1em;
              top: -9px;
              color: #fab532;
              font-weight: 600;
            }

          }
          &.ct-img{
            position: relative;
            &::before{
              @include pseudo();
              left: -25%;
              width: 1px;
              height: 120%;
              top: 50%;
              width: 1px;
              background-color: #2a5c92; 
              @include transform(translate(0, -50%));
              display: none;
              @include mq('phone-wide'){
                display: inline-block;
              }
              @include mq('desktop'){
                left: -30%;
              }
            }
            &::after{
              @include pseudo();
              right: -25%;
              top: 50%;
              width: 1px;
              height: 120%;
              background-color: #2a5c92; 
              @include transform(translate(0, -50%));
              display: none;
              @include mq('phone-wide'){
                display: inline-block;
              }
              @include mq('desktop'){
                right: -30%;
              }
            }
          }
        }
        &:first-child{
          margin-bottom: 15px;
          max-width: 320px;
        }
        &:nth-child(2){
          margin-bottom: 25px;
          max-width: 245px;

          h2{
            font-size: 16px;
            line-height: 16px;
            color: #fab532;
          }
        }
        &:nth-child(3){
          justify-content: center;
        }
      }
    }
    @include mq('desktop'){
      .ct-b-foot{
        .ct-row{
          .ct-column{
            p {
              margin-bottom: 20px;
              font-size: 16px;
            }
            img{
              width: 220px;
            }
            &.ct-countup{
              h2{
                font-size: 60px;
              }
              span{
                font-size: 20px;
                top: -25px;
              }
            }
          }
          &:first-child{
            max-width: 800px;
            margin-bottom: 35px;
          }
          &:nth-child(2){
           max-width: 625px;
            margin-bottom: 60px;
            h2{
              font-size: 38px;
              line-height: 52px;
            }
          }
        }
      }
    } 

  }
}

.ct-s-location{
  color: white;
  display: flex;
  justify-content: center;
  background-color: $blue; 
  padding-top: 57px;
  padding-bottom: 50px;
  align-items: flex-end;
  background-image: url(../images/bg-location-home.jpg);
  background-size: 160% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;
    align-items: center;
    background-size: cover;
    background-position: center center;
  
  } 
  @include mq('desktop-1800'){
    padding-top: 100px;
  } 
  .ct-b-map{
    position: absolute;
    top: 57px;
    left: 50%;
    width: 100%;
    @include transform(translate(-50%, 0));
    z-index: 1;
    @include mq('desktop'){
      left: 5%;
      top: 55%;
      width: 45%;
      @include transform(translate(0, -50%));
    } 

    .ct-map-icon{
      position: absolute;
      top: 16%;
      left: 33%;
      width: 8%;
      z-index: 1;
      animation: loading 1s linear infinite;
      img{
        width: 100%;
      }
    }
  }

  .ct-b-container{
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: transparent;
    background: linear-gradient(0, rgba(0,0,0,0) 0%, #05203d 80%, rgba(0,0,0,0) 100%);
    position: relative;
    z-index: 2;
    max-width: 100%;
    @include mq('desktop'){
      @include transform(scale(0.7));
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
    } 
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
        padding: 0 150px;
    }  


    .ct-b-body{
      z-index: 2;
      position: relative;
      @include mq('desktop'){
        width: 60%;
        padding-left: 65px;
        margin-left: 50%;  
      } 
      @include mq('desktop-1600'){
        width: 50%;
      }  
      .ct-head{
        margin-bottom: 18px;
        @include mq('desktop'){
          margin-bottom: 35px;
        }
        h2{
          color: #fab532;
          text-align: center;

          font-size: 22px;
          margin-bottom: 8px;
          line-height: 1;
          @include mq('desktop'){
            text-align: left;
            font-size: 42px;
            line-height: 1.3;
            margin-bottom: 0;
          } 
        }
      }
      .ct-body{
        margin-bottom: 0;
        text-align: center;
        @include mq('desktop'){
          margin-bottom: 35px;
          text-align: left;
        } 
        p{
          margin-bottom: 25px;
          text-align: justify;
          text-align-last: center;
          @include mq('desktop'){
            text-align-last: left;
          } 
        }
        .ct-location-info{
          font-size: 0;
          .ct-item{
            width: calc(50% - 10px);
            margin-right: 20px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 25px;
            position: relative;
            overflow: hidden;
            &:nth-child(2n){
              margin-right: 0;
            }
            span{
              color: white;
              display: block;
              position: absolute;
              left: 0;
              font-weight: 700;
              font-size: 12px;
              padding: 5px 10px;
              z-index: 2;
              width: 50px;
              line-height: 1.2;
            }
            &::after{
              @include pseudo();
              left: 0;
              z-index: 1;
              top: 0;
              width: 120px;
              height: 100px;
              position: absolute;
              background: $mainColor;
              @include rounded(50%);
              @include transform(translate(-50%, -50%));  
            }
            img{
              height: 115px;
              width: 100%;
              object-fit: cover;
            }
            aside{
              padding: 10px;
              background-color: #0b294b;
              h6{
                color: white;
                margin-bottom: 0;
                font-size: 12px;
                text-transform: initial;
                line-height: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                height: 28px;      /* fallback */
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
              }
            }

          }
        }
      }
      .ct-foot{
        display: none;
        @include mq('desktop'){
          display: block;
        } 
        .ct-row{
          display: flex;
          justify-content: space-between;
          margin-bottom: 35px;
          &:last-child{
            margin-bottom: 0;
          }
          .ct-item{
            h4{
              font-size: 24px;
              position: relative;
              padding-left: 40px;
              min-width: 375px;
              &::before{
                @include pseudo();
                width: 30px;
                height: 30px;
                border-style: solid;
                background-image: url(../images/icon-star-yellow.png);
                background-size: 30px 30px;
                border: 0;
                @include center-absolute('vertical');
                left: 0;
              }
            }
            ul{
              position: relative;
              li{
                margin-bottom: 20px;
                font-weight: 300;
                padding-left: 40px;
                position: relative;
                text-transform: uppercase;
                &::before{
                  @include pseudo();
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: white;
                  top: 50%;
                  left: 18px;
                  @include transform(translate(0, -50%));
                }
                &:last-child{
                  margin-bottom: 0;
                }
              }
              &::before{
                @include pseudo();
                width: 1px;
                height: 100%;
                background: white;
                left: 22px;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}

.homepage{
  .ct-location-info{
    display: none;
  }
}


.ct-s-facilities{
  color: white;
  background-color: #05203d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  background-position: center center;
  // height: auto !important;
  background-image: url(../images/bg-facilities.jpg);
  background-position: 70% -25%;
  background-repeat: no-repeat;
  @include mq('desktop'){
    background-image: none;
    padding-top: 75px;
    padding-bottom: 0;
    min-height: calc(100vh - 75px);
    height: 100vh !important;
  }   
  @include mq('desktop-1800'){
      padding-top: 100px;
      min-height: calc(100vh - 100px);
  }  
  .ct-b-container{

    @include mq('desktop'){
      @include transform(scale(0.7));
    }   
    @include mq('desktop-1600'){
      @include transform(scale(0.8));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 30px;
      .ct-head{
        margin-bottom: 20px;
        .ct-start {
          font-size: 17px;
          line-height: 17px;
        }          
        @include mq('desktop'){
          h2{
            margin-bottom: 20px;
          }
          h3{
            margin-bottom: 15px;
          }   
          .ct-start {
            font-size: 35px;
            line-height: 35px;
          }     
        }   
      }
      .ct-body{
        margin-bottom: 20px;
        p{
          text-align: justify;
          text-align-last: center;
        }
        @include mq('desktop'){
          padding: 0 60px;
          margin-bottom: 30px;
        }
      }
      .ct-foot{
        text-align: center;
      }
    }
    .ct-b-body{
      .row-fluid{
        .ct-box-item{
          margin-bottom: 33px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      @include mq('desktop') {
        .row-fluid {
          .span-4 {
            width: 31.6239316239%;
            margin-right: 2.5641025641%;
            margin-left: 0;
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }

    }
  }
}

.ct-s-facilities-2{
  color: white;
  padding-top: 57px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top center;
  @include mq('desktop'){
    min-height: 100vh;
    padding-bottom: 0;
    padding-top: 75px;
  }  
  @include mq('desktop-1800'){
      padding-top: 100px;
  }  
  .ct-b-container{
    padding-left: 0;
    padding-right: 0;
    @include mq('desktop'){
      @include transform(scale(0.7));
    }  
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  

      .ct-b-body{
          .ct-head{
            margin-bottom: 65px;
          }
          .ct-body{
            font-size: 0;
            line-height: 0;
            .ct-row{
              position: relative;
              &:first-child{
                &::after{
                  @include pseudo();
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  bottom: 0;
                  left: 50%;
                  @include transform(translate(-50%, 0)); 
                  background-color: #fab532;
                  background: linear-gradient(90deg, rgba(0,0,0,0) 0%,#fab532 20%, #fab532 50%, #fab532 80%, rgba(0,0,0,0) 100%);
                }
                .ct-reason-item{
                  &:nth-child(2){
                    &::before{
                      @include pseudo();
                      position: absolute;
                      width: 1px;
                      height: 220%;
                      left: 0;
                      bottom: 0;
                      @include transform(translate(0, 50%)); 
                      background-color: #fab532;
                      background: linear-gradient(0, rgba(0,0,0,0) 0%,#fab532 20%, #fab532 50%, #fab532 80%, rgba(0,0,0,0) 100%);
                    }
                    &::after{
                      @include pseudo();
                      position: absolute;
                      width: 1px;
                      height: 220%;
                      right: 0;
                      bottom: 0;
                      @include transform(translate(0, 50%)); 
                      background-color: #fab532;
                      background: linear-gradient(0, rgba(0,0,0,0) 0%,#fab532 20%, #fab532 50%, #fab532 80%, rgba(0,0,0,0) 100%);
                    }
                  }
                }
      
              }
              .ct-reason-item{
                text-align: center;
                padding-bottom: 60px;
                position: relative;
    
                img{
                  width: 98px;
                  object-fit: contain;
                  margin: 0 auto 20px;
                }
                h5{
                  font-size: 18px;
                  max-width: 200px;
                  margin: 0 auto;
                }
                @include mq('desktop'){
                  width: 33.33%;
                  display: inline-block;
                }
              }
              &:last-child{
                .ct-reason-item{
                  padding-bottom: 0;
                  padding-top: 60px;
      
                }
              }
    
            }
          }


      }

      .ct-b-body-mobile{
        // mobile
        .ct-head{
          margin-bottom: 15px;
        }
        .ct-facilities-slider{
          .ct-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            .ct-reason-item-mobile{
              text-align: center;
              position: relative;
              padding: 15px 0;
              width: 30%;
              margin: 0 20px;   
              @include mq('phone-wide'){
                margin: 0 25px;   
              }           
              img{
                width: 55px;
                margin: 0 auto 5px;
                @include mq('phone-wide'){
                  margin: 0 auto 10px;
                  width: 65px;
                }
              }
              h5{
                font-size: 11px;
                line-height: 1.2em;
                min-height: 26px;
                @include mq('phone-wide'){
                  min-height: 33px;
                }
              }

            }
            &:nth-child(2){
              position: relative;
              .ct-reason-item-mobile{
                &:first-child{
                  &::after{
                    @include pseudo();
                    right: -20px;
                    top: 60%;
                    height: 310%;
                    width: 1px;
                    @include transform(translate(0, -50%));
                    background-color: #fab532;
                    background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #fab532 20%, #fab532 50%, #fab532 90%, rgba(0, 0, 0, 0) 100%);
                    @include mq('phone-wide'){
                      right: -25px;
                    }  
                  }
                }
              }

              &::before{
                @include pseudo();
                left: 50%;
                top: 0;
                height: 1px;
                width: 75%;
                @include transform(translate(-50%, 0));
                background-color: #fab532;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #fab532 20%, #fab532 50%, #fab532 90%, rgba(0, 0, 0, 0) 100%);
                @include mq('phone-wide'){
                  right: -30px;
                }  
              }

              &::after{
                @include pseudo();
                left: 50%;
                bottom: 0;
                height: 1px;
                width: 75%;
                @include transform(translate(-50%, 0));
                background-color: #fab532;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #fab532 20%, #fab532 50%, #fab532 90%, rgba(0, 0, 0, 0) 100%);
                @include mq('phone-wide'){
                  right: -25px;
                }  
              }
            }
          }

        }
      }
  }
}


.ct-s-type-house{
  position: relative;
  background-color: #255588;
  padding-bottom: 0;
  padding-top: 0;
  &::before{
    @include pseudo();
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #d1f6ff;
    @include mq('desktop'){
      display: none;
    }
  }
  .ct-b-body{
    position: absolute;
    left: 0;
    top: 55px;
    right: 0;
    bottom: 0;
    @include mq('desktop'){
      top: 0;
    }
    img{
      width: 100%;
    }
    .ct-b-hotspot{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      .ct-b-hotspot-inner{
        position: relative;
        width: 100%;
        height: 100%;
        .ct-hotspot{
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          cursor: pointer;
          position: absolute;
          z-index: 3;
          width: 100px;
          height: 100px;
          transform-origin: center center;
          -webkit-transform-origin: center center;
          -moz-transform-origin: center center;
          border: 5px solid rgba(255,255,255, 0.7);
          background: $mainColor;;

          @include mq('desktop'){
            // background: #05203d;
          }
          @include rounded(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          @include mq('tablet'){
            width: 45px;
            height: 45px;
          }
          &.active{
            .ct-content{
              opacity: 1;
              z-index: 1;
              visibility: inherit;
              @include transform(translate(100%, 0) scale(1));
              @include transition(400ms, ease-in-out);
            }
          }

          &:hover{
            background: #fab532;
            @include transition(400ms, ease-in-out);
            // .ct-content{
            //   opacity: 1;
            //   z-index: 1;
            //   visibility: inherit;
            //   @include transform(translate(100%, 0) scale(1));
            //   @include transition(400ms, ease-in-out);
            // }
          }
          &::before{
            @include pseudo();
            border-radius: 50%;
            left: 0;
            top: 0;
            @include transform(translate(-50%, -50%));
            width: 100%;
            height: 100%;
            border: 5px solid rgba(255,255,255, 0.7); 
            animation: waveAnimation 1.5s ease-in-out infinite;
          }
          span{
            font-size: 50px;
            color: white;
            font-weight: 700;
            @include mq('tablet'){
              font-size: 18px;
            }
          }
          .ct-content{
            position: absolute;
            width: 225px;
            padding: 5px;
            background-color: white;
            right: -10px;
            bottom: 10px;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            @include transform(translate(100%, 0) scale(0.96));
            @include transition(400ms, ease-in-out);

            img{
              width: 100%;
            }
            h5{
              margin: 0;
              padding: 10px 5px 5px 5px;;
              font-size: 14px;
              color: #434343;
            }
          }

        }
      }
    }

  }
}


.ct-s-type-house-2{
  position: relative;
  padding-bottom: 0;
  background-color: #255588;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  background-image: url(../images/maunha-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq('desktop'){
    padding-top: 75px;
}   
  @include mq('desktop-1800'){
      padding-top: 100px;
  }  
    .ct-b-container{
      max-width: 1640px;
      @include mq('desktop'){
        @include transform(scale(0.7));
      }   
      @include mq('desktop-1600'){
        @include transform(scale(0.9));
      }    
      @include mq('desktop-1800'){
          @include transform(scale(1));
      }  
      .ct-head{
        margin-bottom: 20px;
        @include mq('desktop'){
          margin-bottom: 45px;
        }  
        h2{
          color: $mainColor;
          @include mq('desktop'){
            // color: #05203d;
          }
        }
      }
      .ct-body{
        background-color: #05203d;
        @include mq('desktop'){
          display: flex;
        }
        .ct-type-house-content{
          display: none;
          @include mq('desktop'){
            display: block;
          }
        }
        a.ct-link{
          text-align: center;
          padding: 15px;
          font-size: 12px;
          font-weight: 700;
          color: white;
          background-color: $mainColor;
          display: block;
        }
        .ct-content-slider{

          .ct-slide{
            width: 100%;
            height: 300px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          width: 100%;
          @include mq('desktop'){
            width: 50%;
            .ct-slide{
              height: 75vh;
            }
          }
          @include mq('desktop-1600'){
            .ct-slide{
              height:67vh;
            }
          }
          .slick-arrow{
            padding: 20px 15px;
            background-color: #fab532;
            position: absolute;
            z-index: 10;
            top: 50%;
            @include transform(translateY(-50%));
            border: none;
            cursor: pointer;
            i{
              font-size: 20px;
              font-weight: 700;
              color: #ffffff;
            }
            &.slider-right-btn{
              right: 0px;
            }
          }
        }
        .ct-type-house-content{
          width: 50%;
          padding: 60px;
          
          color: white;
          a.ct-head{
            color: white;
            padding-bottom: 20px;
            display: inline-block;
            margin-bottom: 30px;
            position: relative;
            font-size: 24px;
            font-weight: 700;
            &::before{
              @include pseudo();
              left: 0;
              bottom: 0;
              width: 200px;
              height: 1px;
              background-color: #fab532;
            }
          }
          p{
            margin-bottom: 40px;
          }

        }
      }
    }
}


.ct-type-house-content-wrapper {
  top: 45%;
  position: relative;
  z-index: 12;
  width: 100%;
  @include mq('desktop'){
    bottom: 0;
    position: absolute;
    top: initial;
    width: 100%;
    @include transform(scale(0.9));
  }
  @include mq('desktop-1600'){
    bottom: 3%;
    @include transform(scale(0.9));
  }
  @include mq('desktop-1800'){
    @include transform(scale(1));
  }
  .ct-type-house-content{
    .ct-head{
      margin-bottom: 10px;
      h2{
        text-transform: uppercase;
        color: $mainColor;

        @include mq('desktop'){
          @include transform(scale(0.7));
          margin-bottom: 0;
          // color: #0e1c3d;
        }
        @include mq('desktop-1600'){
          @include transform(scale(1));
          margin-bottom: 20px;
        }
      }
    }
    @include mq('desktop'){
      margin: 0 auto;
      max-width: 1240px;
    }
    .ct-body{
      padding: 0 28px;
      .span-6{
        margin-left: 0;
        width: 48.6979166667%;
        margin-right: 2.0833333333%;

        &:nth-child(2n){
          margin-right: 0;
        }

        @include mq('desktop'){
          width: 23.0769230769%;
          margin-right: 2.5641025641%;
          margin-left: 0;
          &:nth-child(2n){
            margin-right: 2.5641025641%;
          }
          &:nth-child(4n){
            margin-right: 0;
          }

        }  
      }
      .item{
        margin-bottom: 10px;
        &:focus{
          outline: none;
        }
        a{
          font-size: 12px;
          font-weight: 600;
          display: inline-block;
          position: relative;
          padding-right: 0;
          line-height: 1.2em;         
          color: white;
          display: flex;
          align-items: center;
          min-height: 42px;
          @include rounded(45px);
          padding: 7px 0 7px 32px;
          width: 95%;
          &:focus{
            outline: none;
          }
          @include mq('desktop'){
            // color: #05203d;
          }
          span{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            @include rounded(50%);
            background: $mainColor;
            color: white;
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translate(0, -50%));
            @include mq('desktop'){
              // background: #05203d;
            }
          }
          &:hover{
            background-color: $mainColor;
            color: #0e1c3d;
            @include transition(0.3s, ease-in-out);
            span{
              background: white;
              color: #05203d;
            }
          }
        }

        @include mq('desktop'){
          margin-bottom: 20px;
          a{
            font-size: 13px;
            padding-left: 60px;
            position: relative;
            padding-right: 15px;
            height: 46px;
            // color: #05203d;
            @include rounded(45px);
            @include transition(0.3s, ease-in-out);
            span{
              width: 45px;
              height: 45px;
            }
            &:hover{
              // background-color: $mainColor;
              @include transition(0.3s, ease-in-out);
              span{
                // color: white;
                // background: #05203d;
              }
            }
          }
        }


      }
    }
  }
}

.facilitypage, .typeshousespage{
  .ct-type-house-content-wrapper{
    @include mq('desktop'){
      @include transform(scale(0.9));
    }
    @include mq('desktop-1600'){
      @include transform(scale(1));
    }
  }
}


.ct-type-house-2-mobile{
  .ct-head{
    margin-bottom: 10px;
    h2{
      color: #0e1c3d;
      text-transform: uppercase;
    }
  }
  .ct-body{
    padding: 0 28px;
    position: relative;
    .ct-normal-slider{
      figure{
        margin: 0;
        height: 160px;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        a{
          color: white;
          font-size: 12px;
          position: absolute;
          bottom: 0;
          left: 0;
          font-weight: 700;
          display: block;
          padding: 10px;
          text-align: center;
          width: 100%;
          background-color: $mainColor;
        }
      }
    }

  }
}

.ct-s-home-process{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-position: center center;
  background-size: cover;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;

  }  
  @include mq('desktop-1800'){
      padding-top: 100px;
  }  
  .ct-b-container{
    @include mq('desktop'){
      @include transform(scale(0.7));
    }    
    @include mq('desktop-1600'){
      @include transform(scale(0.8));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 20px;
      @include mq('desktop'){
        margin-bottom: 2vh;
        h2{
          font-size: 6vh;
          margin-bottom: 2vh;
          color: $mainColor;
        }
      }  

      @include mq('desktop-1800') {
        margin-bottom: 4vh;
        h2{
          font-size: 42px;
        }
      }
    }
    .ct-b-body{
      position: relative;
      .slider-for{
        .ct-slide{
          width: 100%;
          overflow: hidden;
          height: 350px;
          @include mq('desktop') {
            height: auto;
            min-height: 400px;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

        }
        .slick-arrow{
          padding: 15px 10px;
          background-color: #fab532;
          position: absolute;
          z-index: 10;
          left: -2px;
          top: 50%;
          @include transform(translateY(-50%));
          border: none;
          cursor: pointer;
          @include mq('desktop') {
            padding: 20px 15px;
          }
          i{
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
          }
          &.slider-right-btn{
            right: -2px;
            left: inherit;
          }
        }
      }
      .slider-nav{
        background-color: $mainColor;
        padding: 15px 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        @include mq('desktop') {
          padding: 25px 0;
          background-color: #05203de6;
        }
        .ct-slide{
          text-align: center;
          h4{
            // color: $blue;
            color: white;
            font-size: 12px;
            padding: 0 10px;
            cursor: pointer;
            @include mq('desktop') {
              font-size: 18px;
              padding: 0 20px;
              color: white;
            }
          }
        }

        .slick-arrow{
          padding: 20px 15px;
          background-color: transparent;
          position: absolute;
          z-index: 10;
          top: 50%;
          @include transform(translateY(-50%));
          border: none;
          cursor: pointer;
          i{
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
          }
          &.slider-right-btn{
            right: 0px;
          }
        }
      }
    }
  }
}

.ct-s-home-news{
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  background-color: white; 
  display: flex;
  background-size: cover;
  background-position: center center;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;

  } 
  @include mq('desktop-1800'){
      padding-top: 100px;
  } 

  .ct-b-container{
    @include mq('desktop'){
      @include transform(scale(0.7));
    }  
    @include mq('desktop-1600'){
      @include transform(scale(0.8));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 10px;
      @include mq('desktop'){
        margin-bottom: 50px;
      } 
      h2{
        color: #3c3c3c;
      }
    }
    .ct-b-body {
      .slider-news{
        .slick-arrow{
          background-color: transparent;
          position: absolute;
          z-index: 10;
          top: 50%;
          @include transform(translate(-100%, -50%));
          border: none;
          cursor: pointer;
          i{
            font-size: 50px;
            font-weight: 700;
            color: #fab532;
          }
          &.slider-right-btn{
            right: 0px;
            @include transform(translate(100%, -50%));
          }
        }

        .item {
          margin-bottom: 20px;
          @include mq('desktop'){
            margin-bottom: 30px;
          }  
          &:focus {
            outline: none;
          }
  
          @include mq('phone-giant') {
            padding: 0 15px;
          }
  
          .show-img {
            background-image: url(../images/news-partials.jpg);
            position: relative;
            width: 100%;
            height: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            transition: all 0.3s ease-in;
            @include mq('desktop'){
              height: 200px;
            }  
            a {
              width: 100%;
              position: absolute;
              height: 100%;
              z-index: 10;
            }
          }
  
          .content {
            .title {
              padding: 5px 0;
              @include mq('desktop'){
                padding: 12px 0;
              }  
              a {
                transition: color .3s;
                font-weight: 700;
                color: $black;
                font-size: 12px;
                line-height: 12px;
                @include mq('desktop'){
                  font-size: 20px;
                  line-height: 24px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  max-height: 48px;      /* fallback */
                  -webkit-line-clamp: 2; /* number of lines to show */
                  -webkit-box-orient: vertical;

                }  
                &:after {
                  content: '';
                  display: block;
                  height: 2px;
                  width: 30%;
                  background: $mainColor;
                  margin-top: 10px;
                  transition: all .3s ease-in;
                }
              }
            }
  
            .description {
              display: none;
              @include mq('desktop'){
                display: none;
              } 
              a {
                font-size: 12px;
                color: $black;
                line-height: 20px;
                display: none;
                height: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 75px;
                @include mq('desktop'){
                  -webkit-line-clamp: 2;
                  line-height: 23px;
                  font-size: 15px;
                  height: 46px;
                }  
                &:focus {
                  outline: none;
                }
              }
            }
          }
  
          &:hover,
          &:active {
            .show-img {
              -webkit-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.64);
              -moz-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.64);
              box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.64);
            }
  
            .content .title a:after {
              width: 50%;
            }
          }
        }
      }

    }
  }
}
.ct-s-gallery{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 50px;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;

  } 
  @include mq('desktop-1800'){
      padding-top: 100px;
  } 
  .ct-b-container{
    @include mq('desktop'){
      @include transform(scale(0.7));
    } 
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 20px;

      @include mq('desktop'){
        margin-bottom: 50px;
      } 
      h2{
        // color: white;
      }
    }
    .ct-b-body{
      .slider-nav-gallery{
        margin: 0 0 20px;
        border-top: 1px solid #2a5c92;
        border-bottom: 1px solid #2a5c92;

        @include mq('desktop'){
          margin: 0 15px 45px;
        } 
        .ct-slide{
          cursor: pointer;
          border-right: 1px solid #2a5c92;
          &:focus{
            outline: none;
          }
          &:first-child{
            border-left: 1px solid #2a5c92;
          }
          h4{
            font-size: 12px;
            color: #2a5c92;
            text-align: center;
            padding: 10px 10px;
            line-height: 10px;
            @include mq('desktop'){
              font-size: 18px;
              padding: 15px 40px;

            } 
          }
          &.slick-current{
            position: relative;
            h4{
              color: #fab532;
            }
            &::before{
              @include pseudo();
              height: 4px;
              width: 100%;
              background-color: #fab532;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
      .slider-for-gallery{

      }
    }
  }
}
.ct-content-gallery{
  .ct-slide-gallery{
    .gallery-item{
      font-size: 0;
      padding: 10px;
      @include mq('desktop'){
        padding: 15px;
      }   
      a{
        position: relative;
        display: block;
        height: 120px;
        @include mq('desktop'){
          height: 200px;
        }  
        @include mq('desktop-1600'){
          height: 230px;
        }    
        @include mq('desktop-1800'){
          height: 250px;
        }  
        &::before{
          @include pseudo();
          z-index: 2;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          background: url(../images/icon-image.svg) no-repeat;
          background-size: 100%;
          @include transform(translate(-50%, -50%));
          opacity: 0;
          @include transition(0.3s, ease-in-out);
        }
        &::after{
          @include pseudo();
          z-index: 1;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-color: #05203d80;
          opacity: 0;
          @include transition(0.3s, ease-in-out);
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover{
          cursor: pointer;
          &::before{
            opacity: 0.3;
            @include transition(0.3s, ease-in-out);
          }
          &::after{
            opacity: 1;
            @include transition(0.3s, ease-in-out);
            @include transform(scale(0.9));
          }
        }
      }
      &.ct-video{
        a{
          &::before{
            background: url(../images/icon-video.svg) no-repeat;
          }
        }
      }

      i{
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
    }


  }
}

.ct-slide-gallery-video{
  max-width: 850px;
  margin: 0 auto;
  .slider-for-gallery-video{
    margin-bottom: 20px;
    .videoWrapper{
      width: 100%;
      height: 27vh;
      iframe{
        width: 100%;
        height: 100%;
      }
    }

  }
  .slider-nav-gallery-video{
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
      margin: 0 10px;
  }
    img{
      height: 16vh;
      object-fit: cover;
    }
  }


  @include mq('desktop'){
    .slider-for-gallery-video{
      margin-bottom: 40px;
      .videoWrapper{
        height: 60vh;
      }
    }
  }  
  @include mq('desktop-1800'){
    .slider-for-gallery-video{
      margin-bottom: 50px;
      .videoWrapper{
        height: 40vh;
      }
    }
  } 
}



.ct-s-contact-home{
  background-size: cover;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  @include mq('desktop'){
    padding-top: 75px;
    padding-bottom: 0;
  }  
  @include mq('desktop-1800'){
    padding-top: 100px;
}  
  .ct-b-container{
    max-width: 670px;
    @include mq('desktop'){
      @include transform(scale(0.7));
    }   
    @include mq('desktop-1600'){
      @include transform(scale(0.9));
    }    
    @include mq('desktop-1800'){
        @include transform(scale(1));
    }  
    .ct-b-head{
      margin-bottom: 30px;
      @include mq('desktop'){
        margin-bottom: 70px;
      }   
      h2{
        color: $mainColor;
        font-size: 20px;
        @include mq('desktop'){
          font-size: 42px;
        }  
        span{
          font-weight: 300;
        }
      }
      img{
        margin-bottom: 15px;
        @include mq('desktop'){
          margin-bottom: 30px;
        }   
      }
      p{
        color: #ffffff !important;
        appearance: none;
        -webkit-appearance: none;
        a{
          color: #ffffff !important;
          font-size: 12px;
          @include mq('desktop'){
            font-size: 16px;
          }   
        }
        span{
          font-size: 12px;
          font-weight: 700;
          color: #ffffff !important;
        }
      }
    }
    .ct-b-body{
      .contact-form{
        text-align: center;
        .confirm-container{
          margin-bottom: 20px;
        }
        input {
          appearance: none;
          -webkit-appearance: none;
          @include rounded(0);
          width: 100%;
          color: $white;
          margin-bottom: 10px;
          background-color: transparent;
          border: 0;
          height: 25px;
          line-height: 25px;
          font-size: 12px;
          padding: 0;
          border-bottom: 1px solid white; 
          &::placeholder {
            color: $white;
          }
          @include mq('desktop') {
            height: 50px;
            line-height: 50px;
            font-size: 15px
          }
        }
        textarea{
          appearance: none;
          -webkit-appearance: none;
          @include rounded(0);
          resize: none;
          color: $white;
          margin-bottom: 15px;
          background-color: transparent;
          -webkit-appearance: none;
          border: 0;
          border-bottom: 1px solid white;
          font-size: 12px;
          padding: 0;  
          margin-bottom: 20px;
          height: 50px;
          @include mq('desktop'){
            margin-bottom: 50px;
            height: 150px;
          }  
          &::placeholder {
            color: $white;
          }
          @include mq('desktop') {
            font-size: 15px
          }
        }
      }
    }

  }
}
.tongquan, 
.locationpage,
.facilitypage,
.typeshousespage,
.processpage, 
.gallerypage,
.chudautupage,
.newsnpage,
.newsdetailpage,
.contactpage{
  .ct-s-contact-home{
    padding: 60px 0;
    .ct-b-container{
      @include transform(scale(1));
    }
    @include mq('desktop') {
      padding: 100px 0;
    }
  }
  // .ct-b-bottom-navi{
  //   display: none;
  // }
}


.ct-s-footer-home, footer {
  color: white;
  padding-top: 40px;
  .ct-b-container {
    padding-bottom: 50px;
      .top-footer {
        .span-7{
          font-size: 0;
          margin-bottom: 30px;
          .f-logo{
            display: inline-block;
            vertical-align: middle;
            width: 105px;
            img{
              width: 88px;
            }
          }
          .f-info{
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 105px);
            h4{
              font-size: 12px;
              margin-bottom: 10px;
              line-height: 1;
            }
            .address-top{
              max-width: 300px;
              p{
                font-size: 12px;
                line-height: 1.4;
              }
            }
          }
        }
        .span-5{
          font-size: 0;
          figure{
            display: inline-block;
            vertical-align: top;
            margin: 0;
            width: 105px;
            img{
              width: 88px;
            }
          }
          .f-info{
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 105px);

            h4{
              font-size: 12px;
              margin-bottom: 10px;
              line-height: 1;

            }
            .address-bottom{
              p{
                font-size: 12px;
                line-height: 1.4;
              }
            }
          }
        } 
    }
  }
  .copyright {
    background: #fab532;
    color: #05203d;
    text-align: center;
    padding: 15px 0;
    p{
      color: #05203d;
    }
  }

  @include mq('desktop') {
    padding-top: 50px;
    .ct-b-container {
        .top-footer {
          .span-7{
            margin-bottom: 0;
            .f-logo{
              width: 100%;
              margin-bottom: 20px;  
              img{
                width: 200px;
              }
            }
            .f-info{
              width: 100%;
              padding-left: 70px;
              h4{
                font-size: 18px;
                margin-bottom: 20px;  
              }
              .address-top{
                p{
                  font-size: 16px;
                }
              }
            }
          }
          .span-5{
            figure{
              width: 100%;
              margin-bottom: 20px;  
              img{
                width: 180px;
              }
            }
            .f-info{
              width: 100%;
              h4{
                font-size: 18px;
                margin-bottom: 20px;  
              }
              .address-bottom{
                p{
                  font-size: 16px;
                  margin-bottom: 10px;
                }
              }
            }
  
          } 
      }
    }
  }

}
footer{
  padding-bottom: 50px;
  @include mq('desktop') {
    padding-bottom: 0;
  }
}

.ct-foot-info{
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left top;
  line-height: 1.4;
  a{
    color: white;
    font-size: 12px;
    @include mq('desktop') {
      font-size: 16px;
    }
  }
  &.ct-address{
    background-image: url(../images/icon-address.png);
    background-size: 10px 14px;
    background-position-x: 2px;
    background-position-y: 2px;
  }
  &.ct-web{
    background-image: url(../images/icon-global.png);
    background-size: 14px 14px;

  }
  &.ct-fax{
    background-image: url(../images/icon-phone.png);
    background-size: 14px 14px;

  }
  &.ct-phone{
    background-image: url(../images/icon-phone2.png);
    background-size: 10px 14px;
    background-position-x: 2px;
  }
  @include mq('desktop') {
    padding-left: 30px;
    &.ct-address{
      background-size: 12px 16px;
    }
    &.ct-web{
      background-size: 16px 16px;
  
    }
    &.ct-fax{
      background-size: 16px 16px;
  
    }
    &.ct-phone{
      background-size: 12px 16px;
    }
  }
}

.locationpage{
  .ct-s-location{
    min-height: 100vh;
    .ct-b-container{
      padding-top: 320px;
      background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #05203d 50%, rgba(0, 0, 0, 0) 100%);
      @include mq('desktop') {
        background: none;
      }
      .ct-b-body .ct-body {
        text-align-last: center;
        -moz-text-align-last: center;
        -webkit-text-align-last: center;

      }
    }
    .ct-b-map{
      top: 0;
    }
    @include mq('desktop') {
      min-height: 100vh;
      .ct-b-container{
        padding-top: 0;
      }
      .ct-b-map{
        top: 55%;
      }
    }
  }
}
.newsnpage{
  .ct-s-home-news{
    min-height: 100vh;
    padding: 60px 0;
    @include mq('desktop') {
      padding: 100px 0;
    }
    .ct-b-container{
      @include transform(scale(1));

    }
  }
}
.processpage{
    .ct-s-home-process{
      min-height: 100vh;
      padding: 60px 0;
      @include mq('desktop') {
        padding: 100px 0;
      }
    }
}


.locationpage{
  .ct-s-location{
    padding-top: 0;
    .ct-b-container{
      .ct-b-body{
        .ct-body{
          .ct-btn{
            display: none;
          }
        }
      }
    }
  }
}


.facilitypage,
.typeshousespage{
  .ct-s-type-house{
    min-height: 560px;
    position: relative;
    .ct-b-body{
      top: 57px;
    }
    .ct-type-house-content-wrapper{
      position: absolute;
      top: 40%;
    }
  }

  @include mq('desktop') {
    .ct-s-type-house{
      min-height: 100vh;
      .ct-b-body{
        top: 0;
      }
      .ct-type-house-content-wrapper{
        top: inherit;
      }
    }
  }  
}

.ct-s-facility-page, 
.ct-s-typeshouses-page,
.ct-s-introdutcion-page{
  padding-top: 0;
  padding-bottom: 0;
  article{
    margin-bottom: 20px;
    .ct-content{
      padding: 20px;
      h4{
        color: $mainColor;
        margin-bottom: 15px;
      }
      p{
        text-align: justify;
      }
    }
    figure{
      margin: 0;
      height: 220px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  @include mq('desktop') {
    article{
      display: flex;
      align-items: center;
      margin-bottom: 0;
      .ct-content{
        width: 50%;
        padding: 20px 80px 20px 150px;
        h4{
          font-size: 41px;
          line-height: 1.2;
        }
      }
      figure{
        width: 50%;
        height: 540px;
      }
      &:nth-child(2n){
        flex-direction: row-reverse;
        .ct-content{
          padding-right: 0;
          padding: 20px 150px 20px 80px;
        }
      }
    }
  }
}

.processpage{
  .ct-s-home-process{
    background-image: url(../images/bg-tien-do-page.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .ct-b-container{
      @include transform(scale(1));
      .ct-b-head{
        color: #3c3c3c;
        img{
          filter: inherit;
        }
      }
    }
  }
}
.gallerypage{
  .ct-s-gallery{
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    .ct-b-container{
      @include transform(scale(1));
    }
  }
}

.contactpage{
  .ct-s-contact-home{
    display: none;
  }
}
.ct-contact-page{
  background-color: #eeeeee;
  text-align: justify;
  .ct-b-container{
    .ct-contact-form{
      margin-bottom: 20px;
      .ct-title{
        margin-bottom: 15px;
        h2{
          color: #3d3d3d;
          font-size: 18px;
          @include mq('desktop') {
            font-size: 28px;
          }
        }
      }
      form{
        input, 
        textarea{
          padding: 0;
          font-size: 12px;
          width: 100%;
          -webkit-appearance: none;
          appearance: none;
          border: 0;
          border-bottom: 1px solid #3d3d3d;
          margin-bottom: 10px;
          background-color: transparent;
          height: 32px;
          line-height: 32px;
          resize: none;
          color: #6D6E70;
          font-family: 'Open Sans', sans-serif !important;
        }
        textarea{
          height: auto;
        }
      }
    }
    .ct-right{
      padding: 30px 0;
      h4{
         text-align: center;
         margin-bottom: 20px; 
         font-size: 18px;
         color: #3d3d3d;
         text-transform: uppercase;
         line-height: 1.2;
         @include mq('desktop') {
          font-size: 28px;
        }
      }
      .ct-b-dvpp{
        font-size: 0;
        margin-bottom: 30px;

        .ct-dvpp{
          width: 46%;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          color: #3d3d3d;
          margin-right: 8%;
          margin-bottom: 15px;
          &:nth-child(2n){
            margin-right: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
          img{
            margin: 0 auto 15px;
          }
          h5{
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 2px;
            text-transform: uppercase;
          }
          p{
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 0;
          }
        }
      }
      .ct-map{
        height: 300px;
        .ct-map-style{
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
        }
        iframe{
          width: 100%;
          height: 100%;
        }
      }
    }

  } 

  @include mq('desktop') {
    padding-top: 0;
    padding-bottom: 0;
    .ct-b-container{
      font-size: 0;
      width: 100%;
      padding: 0;
      max-width: 100%;
      .ct-contact-form{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        padding: 80px 80px 80px 150px;
        .ct-title{
          margin-bottom: 50px;
        }
        p{
          margin-bottom: 40px;
        }
        form{
          text-align: center;
          input, 
          textarea{
            font-size: 15px;
            margin-bottom: 25px;
            background-color: transparent;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            vertical-align: middle;
            &:nth-child(2n){
              margin-right: 0;
            }
          }
          textarea{
            margin-bottom: 40px;
            height: 100px;
            width: 100%;
          }
        }
      }
      .ct-right{
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 80px 80px 80px 150px;
        .ct-b-dvpp{
          .ct-dvpp{
            margin-bottom: 20px;
            img{
              margin: 0 auto 10px;
            }
            h5{
              font-size: 16px;
              margin-bottom: 5px;
            }
            p{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}


.ct-s-facility-list-icon{
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #255588;
  @include mq('desktop') {
    padding-top: 20px;
  }
  .ct-b-container{
    max-width: 100%;
    @include mq('desktop') {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include mq('desktop-1800') {
      padding-left: 150px;
      padding-right: 150px;
    }
    .ct-facility-list-slider{
      .ct-b-slide{
        text-align: center;
        img{
          width: 100px;
          margin: 0 auto;
          margin-bottom: 10px;
          filter: brightness(0) invert(1);
        }
        h5{
          font-size: 12px;
          font-weight: 600;
          color: white;
          line-height: 1;
          display: block; /* or inline-block */
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          min-height: 28px;
          line-height: 14px;
        }
        @include mq('desktop') {
          margin-bottom: 40px;
          h5{
            font-size: 14px;
            min-height: auto;

          }
          img{
            width: 160px;
          }
        }
        @include mq('desktop-1800') {
          h5{
            font-size: 16px;
          }
          img{
            width: 220px;
          }
        }
      }

      .slick-slide{

      }
    }
  }
}

.confirm-container{
  .ct-popup-confirm{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background-color: rgba(11, 41, 75, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    .ct-popup-content{
      width: 80%;
      padding: 50px 30px;
      background-color: $blue; 
      text-align: center;
      color: white;
      max-width: 580px;
      position: relative;
      border: 3px solid $mainColor;
      background-image: url(../images/bg-confirm-email.jpg);
      background-size: cover;
      .ct-close-popup-content{
        appearance: none;
        padding: 0;
        display: none;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: url(../images/close-button.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      h2{
        font-size: 24px;
        line-height: 1.2em;
        color: $mainColor;
      }
      p{
        font-weight: 700;
        font-weight: 16px;
      }
    }
  }

  @include mq('desktop') {
    .ct-popup-confirm{
      .ct-popup-content{
        padding:80px 50px;
        .ct-close-popup-content{
          width: 20px;
          height: 20px;
          top: 15px;
          right: 15px;
        }
        h2{
          font-size: 50px;
        }
        p{
          font-size: 30px;
        }
      }

    }


  }
}

.ct-b-dvpp{
  .ct-dvpp{
    h5{

    }
    p{

    }
  }
}

@media only screen and (max-width: 1279px){
  header{
    .ct-b-header-mobile{
      padding: 10px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 4;
      background-color: white;
      position: relative;
      .ct-logo-mobile{
        a{
          img{
            width: 125px;
          }
        }
      }

      .ct-nav-right-mobile{
        display: flex;
        align-items: center;
        .ct-contact{
          position: relative;
          top: inherit;
          right: inherit;
          margin-right: 15px;
          z-index: 1;
          li{
            a{
              width: 28px;
              height: 28px;
              @include rounded(50%);
              padding: 5px;
              overflow: hidden;
              img{

              }
            }
          }
        }
        .ct-lang{
          position: relative;
          text-transform: uppercase;
          margin-right: 20px;
          z-index: 2;
          span{
              color: #999999;
              cursor: pointer;
              font-weight: 600;
              font-size: 13px;
          }
          ul{
              position: absolute;
              bottom: 0;
              right: 0;
              box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
              background: white;
              opacity: 0;
              visibility: hidden;
              @include transform(translate(0, 100%) scale(0.96));
              @include transition(0.3s, ease-in-out);
              li{
                  a{
                      display: block;
                      padding: 5px 40px;
                      color: #999999;
                      font-weight: 600;
                      font-size: 13px;
                      @include transition(0.3s, ease-in-out);
                      &:hover{
                          background-color: #999999;
                          color: white;
                          @include transition(0.3s, ease-in-out);
                      }
                  }
                  &.active{
                    display: none;
                  }
              }
          }
        }
      }
    }

    .ct-b-menu-mobile{
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      z-index: 3;
      top: 0;
      left: 0;
      padding-top: 85px;
      background-color: #05203d;
      visibility: hidden;
      opacity: 0;
      display: block;
      @include transform(scale(0.96));
      @include transition(0.3s, ease-in-out);
      .ct-menu{
        text-align: center;
        li{
          border-bottom: 1px solid #2a5c92;
          a{
            color: white;
            text-transform: uppercase;
            display: block;
            padding: 15px 0;
            font-weight: 600;
            font-size: 12px;
          }
          &:last-child{
            border-bottom: 0;
          }
          &.active{
            a{
              background-color: $mainColor;
            }
          }
        }
      }
    }

    &.open-lang {
      .ct-b-header-mobile{
        .ct-nav-right-mobile{
          .ct-lang{
              ul{
                  opacity: 1;
                  visibility: initial;
                  @include transform(translate(0, 100%));
                  @include transition(0.3s, ease-in-out);
              }
          }
        }
      }
    }
  }// end header

  .show-menu {
    header{
      .ct-b-menu-mobile{
        visibility: initial;
        opacity: 1;
        @include transform(scale(1));
        @include transition(0.3s, ease-in-out);
      }
    }
  }
}// end media
.ct-mapmarker-title{
  color: $mainColor;
  font-weight: 500;
}