description = "convenience"
[facilitydetail]
[homePage]
==
<div class="ct-s-section ct-s-convenience">
    <div class="ct-b-container">
        <div class="top">
            <div class="title-section title-icon">{{ 'TIỆN ÍCH' |_}}</div>
            <div class="content">
                {{homepage.facilities_des | raw }}
                <div class="readmore">
                    <a class="btn readmore-btn" href="{{ 'facilities' | page }}">
                        {{'Xem thêm'|_}}
                    </a>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="row-fluid">
                {% for facility in facilityList6 %}
                <div class="span-4 item">
                    <div class="top-content">
                        <div class="show-img" style="background-image: url({{facility.images[0].path}})">
                            <a href="{{ 'facilities' | page }}#{{facility.slug}}">
                            </a>
                        </div>
                        <div class="title-img">
                            <a href="{{ 'facilities' | page }}#{{facility.slug}}">{{facility.title}}</a>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <p>{{ facility.description | striptags | slice(0, 350) | raw }}</p> 
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>