description = "footer"
==
{% if general %}

{% partial "home-contact"%}
<footer class="section fp-auto-height" style="background-image: url({{general.background.path}})">
    <div class="ct-b-container">
            <div class="row-fluid top-footer">
                <div class="span-7">
                    <div class="f-logo">
                        <img src="{{'assets/images/logo-subpage.png' | theme}}" alt="logo ">
                    </div>
                    <div class="f-info">
                        <h4>{{general.title1}}</h4>
                        <div class="address-top">
                            {{general.des1 | raw}}
                        </div>
                    </div>
                </div>
                <div class="span-5 ">
                    <figure>
                        <img src="{{'assets/images/logo-color.png' | theme}}" alt="megacity">
                    </figure>
                    <div class="f-info">
                        <h4>{{general.title2}}</h4>
                        <div class="address-bottom">
                            {{general.des2 | raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>{{ general.copyright }}</p>
        </div>
</footer>
{% endif %}