<!-- <div class="confirm-container"> -->
    <!--This will contain the confirmation when the email is successfully sent-->
<!-- </div> -->
<form id="ct-contact-page-form" class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">

    <input type="text" name="name" placeholder="{{ 'Họ tên '|_}} *" required>
    <input type="text" name="phone" placeholder="{{ 'Điện thoại '|_}} *" required>
    <input type="email" name="email" placeholder="{{ 'Email '|_}} *" required>
    <textarea type="text" name="note" placeholder="{{ 'Lời nhắn '|_}}"></textarea>
    <!-- <input type="submit" value="SEND"> -->
    <button class="ct-btn orange" rows="10" type="submit"> {{ 'Đăng ký' |_ }}</button>
</form>