description = "header"

[menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "ct-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu menu2]
start = "id-11"
activeNode = 0
listItemClasses = "item"
primaryClasses = "ct-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu menu3]
start = "id-17"
activeNode = 0
listItemClasses = "item"
primaryClasses = "ct-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
{% if general %}
<header>
    <div class="ct-b-container mobile-hide tablet-hide">
        <div class="ct-b-menu">
                {% component "menu2" %}
                <a href="{{'home'| page}}" class="logo-menu">
                <img src="{{general.logo.path}}" alt="logo cantho">
            </a>
            {% component "menu3" %}
        </div>
    </div>
    <div class="mobile-hide tablet-hide">
        <div class="ct-nav-right">
            <ul class="ct-sns">
                <li>
                    <a href="https://www.youtube.com/channel/UCPJLaI1zU_MGJ0cIny6btNA" target="_blank">
                        <img src="{{ 'assets/images/youtube-brands.svg' | theme }}" alt="youtube-brands">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/StellaMegaCity.com.vn/?ref=bookmarks" target="_blank">
                        <img src="{{ 'assets/images/facebook-f-brands.svg' | theme }}" alt="Facebook">
                    </a>
                </li>
            </ul>
            <div class="ct-lang">
                <span class="js-toggle-lang">
                    {% if activeLocale == 'vi'  %}
                    {{'Vi'|_}}
                    {% else %}
                    {{'En'|_}}
                    {% endif %}
                    <i class="fa fa-angle-down"></i>
                </span>
                <ul>
                    <li {% if activeLocale == 'vi'  %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'">
                            {{'Vi'|_}}
                        </a>
                    </li>
                    <li {% if activeLocale == 'en' %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                            {{'En'|_}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- header mobile -->
    <div class="ct-b-header-mobile">
        <div class="ct-logo-mobile">
            <a href="{{'home'| page}}" class="logo-menu">
                <img src="{{'assets/images/logo-header-mobile.png' |  theme}}" alt="logo cantho">
            </a>
        </div>
        <div class="ct-nav-right-mobile">
            <ul class="ct-contact">
                <li>
                    <a href="tel:+84{{general.phone}}">
                        <img src="{{ 'assets/images/phone-alt-solid.svg' | theme }}" alt="youtube-brands">
                    </a>
                </li>
            </ul>

            <div class="ct-lang">
                <span class="js-toggle-lang">
                    {% if activeLocale == 'vi'  %}
                    {{'Vi'|_}}
                    {% else %}
                    {{'En'|_}}
                    {% endif %}
                </span>
                <ul>
                    <li {% if activeLocale == 'vi'  %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'">
                            {{'Vi'|_}}
                        </a>
                    </li>
                    <li {% if activeLocale == 'en' %} class='active' {% endif %}>
                        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                            {{'En'|_}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="ct-nav-icon js-toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="ct-b-menu-mobile">
        {% component "menu" %}
    </div>
    <!-- header mobile -->

</header>

<div class="ct-b-bottom-navi">
    <a href="#thamquanduan" class="ct-btn orange js-thamquan">{{'Tham quan dự án'|_}}</a>
    <div class="ct-bottom-right">
        <ul class="ct-sns-mobile">
            <li>
                <a href="https://www.youtube.com/channel/UCPJLaI1zU_MGJ0cIny6btNA" target="_blank">
                    <img src="{{ 'assets/images/youtube-brands.svg' | theme }}" alt="youtube-brands">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/StellaMegaCity.com.vn/?ref=bookmarks" target="_blank">
                    <img src="{{ 'assets/images/facebook-f-brands.svg' | theme }}" alt="Facebook">
                </a>
            </li>
        </ul>
        <a href="#trangchu" class="ct-back-to-top js-back-to-top">
            <img src="{{'assets/images/icon-arrow-top.png' | theme}}" alt="back to top">
        </a>
    </div>

</div>

<ul class="ct-contact mobile-hide tablet-hide">
    <li>
        <a href="tel: +84{{general.phone}}">
            <img src="{{ 'assets/images/phone-alt-solid.svg' | theme }}" alt="youtube-brands">
            <span> {{general.phone}}</span>
        </a>
    </li>
    <li>
        <a href="#thamquanduan">
            <img src="{{ 'assets/images/concierge-bell-solid.svg' | theme }}" alt="youtube-brands">
        </a>
    </li>
</ul>

{% endif %}