description = "Home contact"
==
<section class="section ct-s-section ct-s-contact-home ct-thamquan"
    style="background-image: url({{'assets/images/bg-contact.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <h2><span>{{'Đăng ký' |_}} </span>{{'tham quan dự án ' |_}}</h2>
            <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
            <p>Đường Đặng Văn Dầy, Quận Bình Thuỷ, TP.Cần Thơ</p>
            <p>HOTLINE: <a href="tel: +84{{general.phone}}">{{general.phone}}</a></p>
        </div>
        <div class="ct-b-body">
            {% partial "contact-form" %}
        </div>
    </div>
</section>