description = "homepage location"

[location]
==
<section class="section ct-s-section ct-s-location">
    <div class="ct-b-map">
        <img src="{{'assets/images/map.png' | theme}}" alt="map">
        <div class="ct-map-icon">
            <img src="{{'assets/images/Stella_Megacity_map_icon.gif' | theme}}" alt="stella megacity">
        </div>
    </div>


    <div class="ct-b-container">
        <div class="ct-b-head"> </div>
        <div class="ct-b-body">
            <div class="ct-head ct-title">
                <h2>{{'VỊ TRÍ ĐỘC TÔN' |_}}</h2>
                <img class="desktop-hide" src="{{'assets/images/title-icon.png' | theme}}" alt="title">
            </div>
            <div class="ct-body">
                {{locationcp.description | raw }}
                <a href="{{'location' | page}}" class="ct-btn"> {{'Xem thêm'|_}}</a>
                <div class="desktop-hide tablet-hide ct-location-info">
                    {% for item in locationcp.node_position %}
                    {% if item.node2 | length > 0 %}
                    <div class="ct-item">
                        <span>{{item.time}}</span>
                        <img src="{{item.image1 | media}}" alt="location">
                        <aside>
                            <h6>{{item.node1}}</h6>
                        </aside>
                    </div>
                    <div class="ct-item">
                        <span>{{item.time}}</span>
                        <img src="{{item.image2 | media}}" alt="location">
                        <aside>
                            <h6>{{item.node2}}</h6>
                        </aside>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="ct-foot">
                <div class="ct-row">
                    <div class="ct-item">
                        <h4>{{locationcp.node_position[0].time}}</h4>
                        <ul>
                            <li>{{locationcp.node_position[0].node1}}</li>
                            <li>{{locationcp.node_position[0].node2}}</li>
                        </ul>
                    </div>
                    <div class="ct-item">
                        <h4>{{locationcp.node_position[1].time}}</h4>
                        <ul>
                            <li>{{locationcp.node_position[1].node1}}</li>
                            <li>{{locationcp.node_position[1].node2}}</li>
                        </ul>
                    </div>
                </div>
                <div class="ct-row">
                    <div class="ct-item">
                        <h4>{{locationcp.node_position[2].time}}</h4>
                        <ul>
                            <li>{{locationcp.node_position[2].node1}}</li>
                            <li>{{locationcp.node_position[2].node2}}</li>
                        </ul>
                    </div>
                    <div class="ct-item">
                        <h4>{{locationcp.node_position[3].time}}</h4>
                        <ul>
                            <li>{{locationcp.node_position[3].node1}}</li>
                            <li>{{locationcp.node_position[3].node2}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>