description = "Home facilities"

[facilitydetail]

[homePage]
==
<section class="section ct-s-section ct-s-facilities">
    <div class="ct-b-container">
        <div class="ct-b-head">
            <div class="ct-head ct-title">
                <h2>{{'TIỆN ÍCH 5 SAO' |_}}</h2>
                <h3>{{'ĐẠT CHUẨN QUỐC TẾ' |_}}</h3>
                <div class="ct-start">★★★★★</div>
            </div>
            <div class="ct-body">
                {{homepage.facilities_des | raw}}
            </div>
            <div class="ct-foot">
                <a href="{{'facilities' | page}}" class="ct-btn">{{'Xem thêm'|_}}</a>
            </div>
        </div>
        <div class="ct-b-body mobile-hide tablet-hide">
            <div class="row-fluid">
                {% for facility in facilityList6 %}
                <div class="span-4 ct-box-item">
                    <div class="top-content">
                        <div class="show-img" style="background-image: url({{facility.image.path}})">
                            <a href="{{ 'facilities' | page }}#{{facility.slug}}">
                            </a>
                        </div>
                        <div class="title-img">
                            <a href="{{ 'facilities' | page }}#{{facility.slug}}">{{facility.title}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section ct-s-section ct-s-facilities-2"
    style="background-image: url({{'assets/images/bg-facilities.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-body mobile-hide tablet-hide">
            <div class="ct-head ct-title">
                <h2>{{'LÝ DO CHỌN' |_}}</h2>
                <h3>{{'STELLA MEGA CITY' |_}}</h2>
            </div>
            <div class="ct-body">
                <div class="ct-row">
                    {% for item in homepage.lydoluachon %}
                    {% if loop.index <= 3 %}
                    <div class="ct-reason-item">
                        <img src="{{item.image | media}}" alt="reason">
                        <h5>{{item.text}}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="ct-row">
                    {% for item in homepage.lydoluachon %}
                    {% if loop.index > 3 %}
                    <div class="ct-reason-item">
                        <img src="{{item.image | media}}" alt="reason">
                        <h5>{{item.text}}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}
        
                </div>

            </div>
        </div>
        <div class="ct-b-body-mobile desktop-hide">
            <div class="ct-head ct-title">
                <h2>{{'LÝ DO CHỌN' |_}}</h2>
                <h3>{{'STELLA MEGA CITY' |_}}</h2>
            </div>
            <div class="ct-body ct-facilities-slider">
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[0].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[0].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[1].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[1].text}}</h5>
                    </div>
                </div>
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[2].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[2].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[3].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[3].text}}</h5>
                    </div>
                </div>
                <div class="ct-slide">
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[4].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[4].text}}</h5>
                    </div>
                    <div class="ct-reason-item-mobile">
                        <img src="{{homepage.lydoluachon[5].image | media}}" alt="reason">
                        <h5>{{homepage.lydoluachon[5].text}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>