description = "home type of house"
[project]
[homePage]
==
{% partial "type-house-main" %}
<section class="section ct-s-section ct-s-type-house-2">
        <div class="ct-b-container">
            <div class="ct-head ct-title">
                <h2>{{'MẪU NHÀ' |_}}</h2>
                <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
            </div>
            <div class="ct-body">
                <div class="ct-content-slider">
                    <div class="ct-slide">
                        <img src="{{projectList[0].picture.path}}" alt="hotspot">
                    </div>
                    <div class="ct-slide">
                        <img src="{{projectList[0].layout.path}}" alt="hotspot">
                    </div>

                    <div class="ct-slide">
                        <img src="{{projectList[0].spherical_Face.path}}" alt="hotspot">
                    </div>
                </div>
                <div class="ct-type-house-content">
                    <a href="{{'types-houses' | page}}" class="ct-head">{{projectList[0].title  }}</a>
                    <p>{{projectList[0].description |striptags | slice(0, 450) | raw }}</p>
                    <a href="{{'types-houses' | page}}" class="ct-btn"> {{'Xem thêm'}}</a>
                </div>

                <a href="{{'types-houses' | page}}" class="ct-link desktop-hide tablet-hide">{{projectList[0].title  }}</a>

            </div>
        </div>
</section>