description = "Home Process"
[cpprocess]
==

<section class="section ct-s-section ct-s-home-process" style="background-image: url({{'assets/images/bg-gallery.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <h2>{{process.title}}</h2>
            <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
        </div>
        <div class="ct-b-body">
            <div class="slider-nav">
                {% for item in process.info %}
                <div class="ct-slide">
                    <h4>{{item.process_date}}</h4>
                </div>
                {% endfor %}
            </div>
            <div class="slider-for">
                {% for items in process.info %}

                <div>
                    <div class="ct-content-slider">
                        {% for item in items.process_images %}
                        <div class="ct-slide ct-process-popup">
                            <a href="{{item.pro_image | media}}">
                                <img src="{{item.pro_image | media}}" alt="hotspot">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>