[homePage]

==
<section class="section ct-s-section ct-s-introdution"
    style="background-image: url({{'assets/images/bg-tong-quan.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <h2>{{'STELLA MEGA CITY' |_}}</h2>
            <h3>{{'PHỒN VINH CUỘC SỐNG TÂY ĐÔ' |_}}</h3>
            <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
        </div>
        <div class="ct-b-body">
            {{homepage.introduction_des | raw }}
        </div>

        <div class="ct-b-foot">
            <div class="ct-row">
                <div class="ct-column ct-countup">
                    <p>{{'Quy mô'|_}}</p>
                    <h2 class="countUp" data-count="150">150</h2>
                    <span>{{'ha'|_}}</span>
                </div>
                <div class="ct-column ct-img">
                    <p>{{'Chủ đầu tư'|_}}</p>
                    <img src="{{'assets/images/logo-color.png' | theme}}" alt="logo">
                </div>

                <div class="ct-column ct-countup">
                    <p>{{'Tổng vốn đầu tư'|_}}</p>
                    <h2 class="countUp" data-count="8000">8000</h2>
                    <span>{{'Tỷ'|_}}</span>
                </div>

            </div>
            <div class="ct-row">
                <div class="ct-column">
                    <p>{{'Tiện ích nội khu'|_}}</p>
                    <div class="ct-start">★★★★★</div>
                </div>
                <div class="ct-column">
                    <p>{{'Sổ đỏ'|_}}</p>
                    <h2>{{'TỪNG NỀN' |_}}</h2>
                </div>
            </div>
            <div class="ct-row">
                    <a class="ct-btn" href="{{'introduction' | page}}">
                        {{'Xem thêm'|_}}
                    </a>
            </div>

        </div>

    </div>
</section>