description = "Home news"
[postcp]

==

<section class="section ct-s-section ct-s-home-news" style="background-image: url({{'assets/images/bg-tin-tuc.jpg' | theme}})">
    <div class="ct-b-container">
        <div class="ct-b-head ct-title">
            <h2>{{'Tin tức' |_}}</h2>
            <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
        </div>
        <div class="ct-b-body">
            <div class="row-fluid slider-news">
                {% for post in posts %}
                <div class="item">
                    <div class="show-img" style="background-image: url({{post.thumbnail.path}})">
                        <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                        </a>
                    </div>
                    <div class="content">
                        <div class="title">
                            <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                                {{post.title}}
                            </a>
                        </div>
                        <div class="description">
                            <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                                {{ post.description | striptags | slice(0, 350) | raw }}{{ item.description | striptags | slice(0, 350) | raw }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>