description = "house-types"
[project]
==
<section class="ct-s-section ct-s-house-types" style="background-image: url({{homepage.typeofhouse_bg.path}})">
    <div class="ct-b-container">
        <div class="title-section title-icon while-icon">{{'MẪU NHÀ' |_}}</div>
        <div class="row-fluid house-types-wrapper">
            <div class="span-8">
                <div class="slideshow">
                    <div class="slider-house-types">
                        <div class="item">
                            <img src="{{projectList[0].picture.path}}" />
                        </div>
                        <div class="item">
                            <img src="{{projectList[0].layout.path}}" />
                        </div>
                        <div class="item">
                            <img src="{{projectList[0].spherical_Face.path}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="span-4 description">
                <div class="header">
                    <h3>
                        {{projectList[0].title  }}
                    </h3>
                </div>
                <div class="content">
                    <p>
                        {{projectList[0].description |striptags | slice(0, 450) | raw }}
                    </p>
                    <div class="readmore">
                        <a class="btn readmore-btn" href="{{'types-houses' | page}}">
                            Xem thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>