description = "location"
[location]
==

<section class="ct-s-section ct-s-location-home">
    <div class="ct-b-container">
        <div class="row-fluid">
            <div class="span-6 left-side">
                <div class="title-section">
                    <img src="{{'assets/images/address.svg' | theme}}" alt="location">
                    <span>{{locationcp.title}}</span>
                </div>
                <div class="content">
                    {{locationcp.description | raw }}
                    <div class="readmore">
                        <a href="{{ location | page}}" class="btn readmore-btn">{{'Xem thêm' |_}}</a>
                    </div>
                    {% partial 'time-line-location' %}
                </div>
            </div>
            <div class="span-6 right-side">
                <div class="map">
                    <img src="{{locationcp.postion_image.path}}" alt="location">
                </div>
            </div>
        </div>
    </div>
</section>