description = "news"
[postcp]
==
<div class="ct-s-section ct-s-news">
    <div class="ct-b-container">
        <div class="title-section title-icon">{{'TIN TỨC' |_}}</div>
        <div class="slideshow">
            <div class="row-fluid slider-news-partials">
                {% for post in posts6 %}
                <div class="item">
                    <div class="show-img" style="background-image: url({{post.thumbnail.path}})">
                        <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                        </a>
                    </div>
                    <div class="content">
                        <div class="title">
                            <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                                {{post.title}}
                            </a>
                        </div>
                        <div class="description">
                            <a href="{{ 'news-detail'| page ({ slug: post.slug }) }}">
                                {{ post.description | striptags | slice(0, 350) | raw }}{{ item.description | striptags | slice(0, 350) | raw }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>