[postcp]
==
<div class="list">
    <div class="row-fluid">
        {% for item in posts %}
        <div class="span-4 item">
            <div class="top-content">
                <div class="show-img" style="background-image: url({{item.thumbnail.path}})">
                    <a href="{{ 'news-detail'| page ({ slug: item.slug }) }}">
                    </a>
                </div>
                <div class="title-img">
                    <a href="{{ 'news-detail'| page ({ slug: item.slug }) }}">{{item.title}}</a>
                </div>
            </div>
            <div class="bottom-content">
                <p>{{ item.description | striptags | slice(0, 350) | raw }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>