description = "register-visit"
==
<div class="reigter-visit-container">
    <div class="ct-b-container ">
            <h3 class="title">Đăng ký tham quan dự án</h3>
            <div class="register-form"></div>
    </div>
</div>