description = "time-line-location"
[location]
==
<div class="time-line-location">
    <div class="row-fluid timeline-style-cover">
        {% for item in locationcp.node_position %}
        <div class="span-6 block">
            <div class="timeline-style">
                <div class="header-timeline">{{item.time}}</div>
                <ul class="time">
                    <li>{{item.node1}}</li>
                    {% if item.node2 %}
                        <li>{{item.node2}}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>