[homePage]

==
<section class="section ct-s-section ct-s-type-house">
    <div class="ct-b-body ct-location-map" data-px-ratio="1"
        data-bg="{{'assets/images/bg-type-of-houses.jpg' | theme}}">
        <img src="{{'assets/images/bg-type-of-house.jpg' | theme}}" class="js-current-bg" alt="title">
        <div class="ct-b-hotspot">
            <div class="ct-b-hotspot-inner">
                {% for item in homepage.type_house_dinfo %}
                <a href="#" class="ct-hotspot js-hotspot-click open-popup-{{item.number}}" data-hotspot={{item.number}} data-xy="{{item.position}}">
                    <span>{{item.number}}</span>
                    <div class="ct-content">
                        <img src="{{item.image | media}}" alt="hotspot">
                        <h5>
                            {{item.title}}
                        </h5>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ct-type-house-content-wrapper">
        <div class="ct-type-house-content">
            <div class="ct-head ct-title">
                <h2>{{'Tiện ích nội khu' |_}}</h2>
                <img src="{{'assets/images/title-icon.png' | theme}}" alt="title">
            </div>
            <div class="ct-body ct-type-house-slider">
                {% for item in homepage.type_house_dinfo %}
                <div class="item">
                    <a class="js-hotspot-click" href="#" data-hotspot={{item.number}}>
                        <span>{{item.number}}</span>
                        {{item.title}}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>