description = "video"
==
<section class="ct-s-section ct-s-video">
    <div class="title-section title-icon">{{'VIDEO' |_}}</div>
    <div class="ct-b-container">
        <div class="video-main">
            <iframe class="ifr_inner" width="100%" height="100%" src="https://www.youtube.com/embed/{{homepage.video_id}}"
                frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>