{% if locationcp %}
<div class="ct-b-slider-subpage">
    <div class="ct-slider">
        {% for item in locationcp.banner %}
        <div class="item">
            <img src="{{item.path}}" />
        </div>
        {% endfor %}
    </div>
    <figure>
        <img class="logo-subpage" src="{{'assets/images/logo-subpage.png'| theme}}" alt="">
    </figure>
</div>
{% partial 'home-location' %}
{% endif %}