title = "Tiện ích"
url = "/tien-ich"
layout = "default"
[facility]
[facilitydetail]
[homePage]

is_hidden = 0
==
function onStart() {
$this->page->bodyClass = 'facilitypage';
}
?>

==

{% partial "type-house-main" %}
<div class="ct-s-section ct-s-facility-list-icon">
    <div class="ct-b-container">
        <div class="ct-facility-list-slider">
            {% for item in homepage.type_house_dinfo %}
            {% if item.icon %}
                <div class="ct-b-slide">
                    <img src="{{item.icon | media}}" alt="tien ich">
                    <h5>{{item.title}}</h5>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<section class="ct-s-section ct-s-facility-page">
    {% for item in facilityList %}
    <article id="{{item.slug}}">
        <div class="ct-content">
            <h4>{{item.title}}</h4>
            {{ item.description | raw}}
        </div>
        <figure>
            <img src="{{item.image.path}}" alt="stella megacity">
        </figure>
    </article>
    {% endfor %}
</section>