title = "Website chính thức chủ đầu tư"
url = "/"
layout = "default"
[homePage]
is_hidden = 0
==

<?php 
function onStart() {
        $this->page->bodyClass = 'homepage';
    }

?>

==
<main id="fullpage">
    {% component 'homePage' %}
    {% if general %}

    <section class="section ct-s-footer-home fp-auto-height" style="background-image: url({{general.background.path}})">
        <div class="ct-b-container">
                <div class="row-fluid top-footer">
                    <div class="span-7">
                        <div class="f-logo">
                            <img src="{{'assets/images/logo-subpage.png' | theme}}" alt="logo ">
                        </div>
                        <div class="f-info">
                            <h4>{{general.title1}}</h4>
                            <div class="address-top">
                                {{general.des1 | raw}}
                            </div>
                        </div>
                    </div>
                    <div class="span-5 ">
                        <figure>
                            <img src="{{'assets/images/logo-color.png' | theme}}" alt="">
                        </figure>
                        <div class="f-info">
                            <h4>{{general.title2}}</h4>
                            <div class="address-bottom">
                                {{general.des2 | raw}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>{{ general.copyright }}</p>
            </div>
    </footer>

    {% endif %}

</main>