title = "Mặt bằng detail"
url = "/mat-bang/:slug"
layout = "default"
[project]
is_hidden = 0
==
<section class="ct-s-section ct-s-types-houses-detail">
    <div class="ct-b-container">
        <div class="row-fluid">
            <div class="span-8 ct-col">
                <div class="ct-b-head">
                    <h2>{{projectDetail.title}}
                    </h2>
                </div>
                <div class="ct-b-body editor">
                    {{projectDetail.description | raw}}
                </div>
                <div class="ct-b-foot">
                    <ul>
                        <li>
                            <a href="#" class="js-pro-click" data-id="1">{{'Hình phối cảnh' |_}}</a>
                        </li>
                        <li>
                            <a href="#" class="js-pro-click" data-id="2"> {{'Mặt bằng' |_}}</a>
                        </li>
                        <li>
                            <a href="#" class="js-pro-click" data-id="3">{{'Hình cắt đứng' |_}}</a>
                        </li>
                    </ul>
                    <div class="ct-img">
                        <img class="active" src="{{projectDetail.picture.path}}" alt="{{projectDetail.title}}">
                        <img src="{{projectDetail.layout.path}}" alt="{{projectDetail.title}}">
                        <img src="{{projectDetail.spherical_Face.path}}" alt="{{projectDetail.title}}">
                    </div>
                </div>
            </div>
            <div class="span-4 ct-col ct-side-bar">
                <h4>{{'CÁC MẪU NHÀ KHÁC' |_}}</h4>
                <ul>
                    {% for item in relateProject %}
                    <li>
                        <a href="{{'types-houses-detail' | page ({ slug: item.slug })}}">
                            {{item.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</section>