title = "Mặt bằng"
url = "/mat-bang"
layout = "default"
[typeofhouse]
[project]
is_hidden = 0
==
function onStart() {
    $this->page->bodyClass = 'typeshousespage';
    }
?>
==
    
    {% partial "type-house-main" %}
    
    <section class="ct-s-section ct-s-typeshouses-page">
        {% for item in projectList %}
        <article>
            <div class="ct-content">
                <h4>{{item.title}}</h4>
                {{ item.description | raw}}
            </div>
            <figure>
                <img src="{{item.picture.path}}" alt="stella megacity">
            </figure>
        </article>
        {% endfor %}
    </section>

