description = "default"

[general]

[localePicker]
forceUrl = 0

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Stella Mega City | {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta property="og:type" content="web" />
    <meta property="og:url" content="http://stella-megacity.com/" />
    <meta property="og:image" content="{{ 'assets/images/bg-type-of-house.jpg'|theme }}" />

    <meta name="author" content="Olabmedia">
    <meta name="generator" content="Olabmedia">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        media="screen">
    <link href="{{ [
            '@framework.extras',
            'assets/css/slick-theme.css',
            'assets/css/slick.css',
            'assets/css/magnific-popup.min.css',
            'assets/css/fullpage.min.css',
            'assets/css/simplelightbox.min.css',
            'assets/css/base.css',
        ]|theme }}" rel="stylesheet" media="screen" />
    {% styles %}
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MC2HGB9');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC2HGB9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <!-- start SMARTCRM Manager -->
    <script>
         var bLock = false;
         var dLast = 0;
         var cp_script = new Array();
         var cp_token = 'NDB8MTM=';
         var cp_pid = 100176;
         var cp_psid = 726;
         var cp_peid = '';
         var sd_product_id = '13';
         var blackListForm = []; 
         var blackListField = []; 
         var cp_tracking = true; 
    </script>
        <!-- SMARTCRM Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NS27Z5D');</script>
        <!-- End SMARTCRM Manager -->


</head>

<body class="{{ this.page.bodyClass }}">
    <div class="ct-b-loading-wrapper">
        <div class="ct-img">
            <img src="{{'assets/images/Stella_Megacity_loading_icon.gif' | theme }}" alt="logo">
        </div>
    </div>

    <div class="ct-b-popup-wraper">
        <a href="#" class="js-close-popup">{{'Close' |_}}</a>
        <div class="ct-img">
            <img src="{{'assets/images/popup.jpg' | theme }}" alt="logo">
        </div>
    </div>
    <!-- Header -->
    {% partial 'header' %}

    <!-- Content -->
    {% page %}
    <!-- Footer -->
    {% partial 'footer' %}

    <div class="confirm-container">
        <!--This will contain the confirmation when the email is successfully sent-->
    </div>
    <!-- Scripts -->
    <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/layout-controller.js',
            'assets/js/slick.min.js',
            'assets/js/simple-lightbox.min.js',
            'assets/js/simple-lightbox.min.js',
            'assets/js/scrolloverflow.min.js',
            'assets/js/jquery.fullpage.min.js',
            'assets/js/wait-for-images.js',
            'assets/js/jquery.magnific-popup.min.js',
            'assets/js/TweenMax.min.js',
            'assets/js/main.js',
        ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}

</body>

</html>